<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="../../css/css2.css">
<body>
    <!-- ข้อมูลเจ้าของ -->
    <div >
        <div id="boxOwner">
            <h3 style="font-size: 2.8vh;">ข้อมูลเจ้าของสถานที่</h3>
            <a style="margin-left: 6.1vw;">คำนำหน้า :
                <select id="ownPrefix" style="width: 10%;">
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                </select></a>
            <a>ชื่อ :
                <input type="text" id="ownName" style="width: 13%;"></a>
            <a>นามสกุล :
                <input type="text" id="ownSurname" style="width: 13%;"></a>
            <a>อายุ :
                <input type="text" id="ownAge" style="width: 7%;"> ปี</a>
            <a>โทรศัพท์ :
                <input type="text" id="ownPhone" style="width: 13%;"
                    onchange="document.getElementById('wPhone').classList.remove('alertInput')"></a>
            <br>
            <a style="margin-left: 5vw;">อยู่บ้านเลขที่ :
                <input type="text" id="ownHomeId" style="width: 7%;"></a style="margin-left: 7.4vw;">
            <a>หมู่ที่ :
                <input type="int" id="ownMoo" style="width: 7%;"></a>
            <a>ตรอก :
                <input type="int" id="ownTrxk" style="width: 10%;"></a>
            <a>ซอย :
                <input type="text" id="ownSxy" style="width: 15%;"></a>
            <a>ถนน :
                <input type="text" id="ownRoad" style="width: 15%;"></a>
            <br>
            <a style="margin-left: 7.4vw;">จังหวัด :
                <select id="ownerProvince" style="width: 17.5%;"></select></a>
            <a>อำเภอ :
                <select id="ownerDistrict" style="width: 17.5%;"></select></a>
            <a>ตำบล :
                <select id="ownerSubdistrict" style="width: 17.5%;"></select></a>
            <br>
            <br>
            <a>บ้านเลขที่หรือโฉนดที่ดิน :
                <input type="text" id="ownDeedId" style="width: 7%;"></a>
            <a>หมู่ที่ :
                <input type="int" id="ownDeedMoo" style="width: 7%;"></a>
            <a>ตรอก :
                <input type="text" id="ownDeedTrxk" style="width: 10%;"></a>
            <a>ซอย :
                <input type="text" id="ownDeedSxy" style="width: 15%;"></a>
            <a>ถนน :
                <input type="text" id="ownDeedRoad" style="width: 15%;"></a>
            <br>
            <a style="margin-left: 7.4vw;">จังหวัด :
                <select id="landProvince" style="width: 17.5%;"></a>
            </select>
            <a>อำเภอ :
                <select id="landDistrict" style="width: 17.5%;"></a>
            </select>&nbsp;
            <a>ตำบล :
                <select id="landSubdistrict" style="width: 17.5%;"></a>
            </select>
            <br><br>
            <input style="margin-left:9vw;" type="file" id="uploadFilePdf" onchange="pdfFile(event)"
                accept="application/pdf">
        </div>
        <br><br>
    </div><br>
    <button type="button" style="width: 150px;height: 150px;background-color: green; color: white;" onclick="insertE()"> Insert </button>
</body>
<script src="../../js/service/TEST_uploadPDF.js"></script>
</html>