.table, .table td, .table th {
    padding: 0.1rem;
    vertical-align: middle;
    border-top: 0px solid #dee2e6;
    margin-bottom: 0rem;
}
/* .input{
    width: 80%;
} */
/* #table2 input{
    size: 1
} */

/* #tdt2{
    width: 8%;
} */
/* 
#table2 input{
    width: 80%;
} */

.myTest{
width: 40px;
}