input, select {
    padding: 5px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 1px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  div.box {
    /* background-color: lightgrey; */
    width: 1050px;
    border: 1px solid black;
    padding: 15px;
    margin: 0px;
    /* margin-left:70px; */
  }
