<!DOCTYPE html>
<html lang="en">

<head>
    <title>A-ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- เรียกไลบารี่สร้างปฎิทิน  -->
    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/date/datetimepicker.full.js"></script>
    <script src="../../js/service/date/dateth.js"></script>
    <link rel="stylesheet" href="../../css/date.css">
</head>

<body>
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit " onclick="addPage()"><i class="fa fa-plus-square"><span> เพิ่ม</span></i></a>
        <a id="editMenu" onclick="editPage()" class="exit disableds"><i class="fa fa-pencil-alt"><span>
                    แก้ไข</span></i></a>
        <a id="saveMenu" onclick="insertPage()" class="exit disableds"><i class="fa fa-save"><span>
                    บันทึก</span></i></a>
        <a id="restoreMenu" onclick="restorePage()" class="exit disableds"><i class="fa fa-reply"><span>
                    เรียกคืน</span></i></a>
        <a id="deleteMenu" onclick="deletePage()" class="exit disableds"><i class="fa fa-times"><span>
                    ยกเลิก</span></i></a>
        <!-- <a><i class="fa fa-search"> ค้นหา</i></a> -->
        <a id="exitMenu" onclick="exitPage()" class="exit" style="float: right;width: 17%;">
            <i class="fa fa-sign-out-alt"><span> ออกจากระบบ</span></i></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:92%;">
        </a>
        <br>
        <button class="dropdown-btn select-active"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="request_public_sell.html" class="dropdown-active">- ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_more_correct.html">- ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="request_crematory.html">- กิจการฌาปณสถาน</a>

        </div>
        <button class="dropdown-btn"><b>ระบบต่ออายุงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../renew/renew_public_sell.html">- คำขอต่อใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_public_hawk.html">- คำขอต่อใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_area_more_sell.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_more_correct.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_area_less_sell.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_less_correct.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_market.html">- คำขอต่อใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../renew/renew_health_danger.html">- คำขอต่อกิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../renew/renew_crematory.html">- คำขอต่อกิจการฌาปณสถาน</a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../central/operator.html">- ข้อมูลผู้ประกอบการ</a>
            <a href="../central/02.html">- ข้อมูลการจดใบอนุญาต</a>
            <a href="../central/03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../utilities/petition.html">- บันทึกเรื่องร้องเรียน</a>
            <!-- <a href="#">- บันทึกคำร้อง</a> -->
        </div>
        <button class="dropdown-btn" id="adminna" style="display: none;"><b>ข้อมูลระบบ </b><i
                class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../system/systemUser.html">จัดการผู้ใช้งาน</a>
            <a href="../system/systemType.html">จัดการประเภท</a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest2"
                    class="badge" style="margin-left:0.5vw;">100000</span></a>
        </div>
        <br><br>
        <button class="dropdown-btn"><a href="../notfication/request copy.html" style="color: red;"><b>คำขอหมดอายุเกิน 3
                    ปี </b></a>
            <!-- <i class="fa fa-caret-down"></i> -->
        </button>
    </div>
    <!-- เนื้อหา -->
    <header class="w3-top2">
        <h1 style="font-size:2.8vh;margin-left: 1.5vw;padding: 2px;width: 97%;">
            ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ
            <div class="dropdown" style="float: right;position: relative; bottom: 0.5vw;background-color: #add8e6;width:10vw;">
                <button type='button' class="dropbtn fa fa-print" style='background-color: #add8e6;color: black;'>
                    <a style="font-size:1.35vw;">เอกสาร</a>
                </button>
                <div class="dropdown-content">
                  <a id="print_document_image" style="display: none;" onclick="printImg()">พิมพ์รูปภาพ</a>
                  <a id="print_document_renew" style="display: none;" onclick="printDocumentRenew()">พิมพ์คำขอต่อ</a>
                  <a id="print_document_allow" style="display: none;" onclick="printDocument()">พิมพ์ใบอนุญาต</a>
                </div>
              </div>
        </h1>
    </header>
    <form id="form">
        <fieldset disabled id="disable" style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <!-- ข้อมูลใบ -->
                <div class="box">
                    <h3 style="font-size: 3vh;">ข้อมูลสถานประกอบการ</h3>
                    <a style="margin-left: 0vw;">เลขที่คำขอ :
                        <input id="form_id" type="text" style="width: 16%;" readonly></a>
                    <a>วันที่ยื่นขอ <font color="red">*</font> :
                        <input type="text" id="datepicker1" style="width: 16%;" maxlength="10"
                            onchange="document.getElementById('datepicker1').classList.remove('alertInput')"></a>
                    <a>ประเภทคำขอ <font color="red">*</font> :
                        <input id="typeReq" list="brow" id="" name="" style="width: 19%;" class="drop"
                            onchange="document.getElementById('typeReq').classList.remove('alertInput')">
                        <datalist id="brow">
                        </datalist>
                        </input></a>
                    <a>เขียนที่ :
                        <input type="text" id="place" value="เทศบาลเมืองแสนสุข" style="width:16%;" disabled
                            readonly></a>
                    <br>

                    <a style="margin-left: 1.4vw;">ข้าพเจ้า <font color="red">*</font> :
                        <select id="typeUser" style="width: 11%;" disabled>
                            <option value="บุคคลธรรมดา">บุคคลธรรมดา</option>
                            <option value="นิติบุคคล">นิติบุคคล</option>
                        </select>
                        <input type="text" id="name" style="width: 16.5%;" readonly
                            onchange="document.getElementById('name').classList.remove('alertInput')">
                        <button type="button" id='btn_sc_op' class="fa fa-search" style="border-radius: 5px;"
                                onclick="searchOparator('OPERATOR')"></button></a>
                    <a>เลขประจำตัว <font color="red">*</font> :
                        <input type="text" id="id" style="width: 13%;"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="13" onkeyup="checkId(this.value, 'PERSON') 
                                        document.getElementById('id').classList.remove('alertInput')" readonly></a>
                    <a>อายุ :
                        <input type=" text" id="age" readonly
                            oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="3" style="width: 7%;"
                            onchange="document.getElementById('age').classList.remove('alertInput')"></a>
                    <a>สัญชาติ :
                        <input class="drop" list="nationality1" id="nationality" name="" style="width: 7%;"
                            onkeyup="document.getElementById('nationality').classList.remove('alertInput')"
                            onchange="document.getElementById('nationality').classList.remove('alertInput')">
                        <datalist id="nationality1">
                            <option value="" hidden>เลือก...</option>
                            <option value="ไทย">ไทย</option>
                            <option value="จีน"></option>
                            <option value="อเมริกัน"></option>
                        </datalist>
                        </input></a>
                    <a>เชื้อชาติ :
                        <input list="nationality2" id="race" name="" style="width: 7%;"
                            onkeyup="document.getElementById('race').classList.remove('alertInput')"
                            onchange="document.getElementById('race').classList.remove('alertInput')">
                        <datalist id="nationality2">
                            <option value="" hidden>เลือก...</option>
                            <option value="ไทย">ไทย</option>
                            <option value="จีน"></option>
                            <option value="อเมริกัน"></option>
                        </datalist>
                        </input></a>
                    <br>
                    <a style="margin-left: 0.58vw;">เลขที่บ้าน <font color="red">*</font> :
                        <input id="home_id" type="text" style="width: 7%;"
                            onchange="document.getElementById('home_id').classList.remove('alertInput')"></a>
                    <a>หมู่ที่ : <input id="moo" type="text" style="width: 7%;"
                            onchange="document.getElementById('moo').classList.remove('alertInput')"></a>
                    <a>ตรอก : <input id="trxk" type="text" style="width: 13%;"></a>
                    <a>ซอย : <input type="text" id="sxy" style="width: 13%;"></a>
                    <a>อาคาร : <input type="text" id="building" style="width: 13.5%;"></a>
                    <a>ถนน : <input type="text" id="road" style="width: 13.5%;"></a>
                    <br>
                    <a style="margin-left: 1.8vw;">จังหวัด <font color="red">*</font> :
                        <select id="province" style="width: 14%;"
                            onchange="document.getElementById('province').classList.remove('alertInput')"></select></a>
                    <a>อำเภอ <font color="red">*</font> :
                        <select id="district" style="width: 14%;"
                            onchange="document.getElementById('district').classList.remove('alertInput')"></select></a>
                    <a>ตำบล :
                        <select id="subdistrict" style="width: 13.5%;"
                            onchange="document.getElementById('subdistrict').classList.remove('alertInput')"></select></a>
                    <a>โทรศัพท์ <font color="red">*</font> :
                        <input type="text" style="width: 6.5vw" id="phone"
                            oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="10" onchange="document.getElementById('phone').classList.remove('alertInput')"
                            onkeyup="checkPhone(this.value,'phone','phone_more')">
                        <a style="margin-left: .1vw;">ต่อ</a>
                        <input type="text" id="phone_more" style="width: 4vw"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="4">
                        <a>โทรสาร :
                            <input type="text" id="fax"
                            maxlength="15" style="width: 13.2%;"></a>
                        <br>
                        <a style="margin-left: 2.2vw;">ผู้ช่วย :
                            <input type="text" id="person2_name" style="width: 28%;" readonly>
                            <button type="button" class="fa fa-search" style="border-radius: 5px;"
                                onclick="searchOparator('ASSISTANT')"></button></a>
                        <a>เลขประจำตัว :
                            <input id="person2_id" type="text" style="width: 13%;" readonly
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                maxlength="13" onkeyup="checkId(this.value, 'PERSONAL') 
                                        document.getElementById('person2_id').classList.remove('alertInput')"></a>
                        <button type="button" id='personal2_delete' onclick="deletePersonalTwo()" class='fa fa-trash'
                            style="display: none; width: 3vw; height: 2.5vw "></button>
                        <br>
                        <br>
                        <a>สถานที่จำหน่ายสินค้า <font color="red">*</font> : </a>
                        <input list="location" id="wLocation" name="" style="width: 29%;"
                            onchange="document.getElementById('wLocation').classList.remove('alertInput')">
                        <datalist id="location">
                            <option value="เขตปลอดร่มเตียงที่ 1">เขตปลอดร่มเตียงที่ 1</option>
                            <option value="เขตปลอดร่มเตียงที่ 2">เขตปลอดร่มเตียงที่ 2</option>
                            <option value="เขตปลอดร่มเตียงที่ 3">เขตปลอดร่มเตียงที่ 3</option>
                            <option value="เขตปลอดร่มเตียงที่ 4">เขตปลอดร่มเตียงที่ 4</option>
                            <option value="เขตปลอดร่มเตียงที่ 5">เขตปลอดร่มเตียงที่ 5</option>
                            <option value="เขตปลอดร่มเตียงที่ 6">เขตปลอดร่มเตียงที่ 6</option>
                            <option value="เขตปลอดร่มเตียงที่ 7">เขตปลอดร่มเตียงที่ 7</option>
                            <option value="เขตปลอดร่มเตียงที่ 8">เขตปลอดร่มเตียงที่ 8</option>
                            <option value="เขตปลอดร่มเตียงที่ 9">เขตปลอดร่มเตียงที่ 9</option>
                            <option value="เขตปลอดร่มเตียงที่ 10">เขตปลอดร่มเตียงที่ 10</option>
                            <option value="เขตปลอดร่มเตียงที่ 11">เขตปลอดร่มเตียงที่ 11</option>
                            <option value="หาดบางแสน 1">หาดบางแสน 1</option>
                            <option value="หาดบางแสน 2">หาดบางแสน 2</option>
                            <option value="หาดบางแสน 3">หาดบางแสน 3</option>
                            <option value="หาดบางแสน 4">หาดบางแสน 4</option>
                            <option value="หาดบางแสน 5">หาดบางแสน 5</option>
                            <option value="หาดบางแสน 6">หาดบางแสน 6</option>
                            <option value="หาดบางแสน 7">หาดบางแสน 7</option>
                            <option value="หาดบางแสน 8">หาดบางแสน 8</option>
                            <option value="หาดบางแสน 9">หาดบางแสน 9</option>
                            <option value="หาดบางแสน 10">หาดบางแสน 10</option>
                            <option value="หาดบางแสน 11">หาดบางแสน 11</option>
                            <option value="หาดบางแสน 12">หาดบางแสน 12</option>
                            <option value="หาดบางแสน 13">หาดบางแสน 13</option>
                            <option value="หาดบางแสน 14">หาดบางแสน 14</option>
                            <option value="หาดบางแสน 15">หาดบางแสน 15</option>
                            <option value="หาดบางแสน 16">หาดบางแสน 16</option>
                            <option value="หาดบางแสน 17">หาดบางแสน 17</option>
                            <option value="หาดบางแสน 18">หาดบางแสน 18</option>
                            <option value="หาดบางแสน 19">หาดบางแสน 19</option>
                            <option value="หาดบางแสน 20">หาดบางแสน 20</option>
                            <option value="หาดบางแสน 21">หาดบางแสน 21</option>
                            <option value="หาดบางแสน 22">หาดบางแสน 22</option>
                            <option value="หาดบางแสน 23">หาดบางแสน 23</option>
                            <option value="หาดบางแสน 24">หาดบางแสน 24</option>
                            <option value="หาดบางแสน 25">หาดบางแสน 25</option>
                            <option value="หาดบางแสน 26">หาดบางแสน 26</option>
                            <option value="หาดบางแสน 27">หาดบางแสน 27</option>
                            <option value="หาดบางแสน 28">หาดบางแสน 28</option>
                            <option value="หาดบางแสน 29">หาดบางแสน 29</option>
                            <option value="หาดบางแสน 30">หาดบางแสน 30</option>
                            <option value="หาดบางแสน 31">หาดบางแสน 31</option>
                            <option value="หาดบางแสน 32">หาดบางแสน 32</option>
                            <option value="หาดบางแสน 33">หาดบางแสน 33</option>
                            <option value="หาดบางแสน 34">หาดบางแสน 34</option>
                            <option value="หาดบางแสน 35">หาดบางแสน 35</option>
                            <option value="หาดบางแสน 36">หาดบางแสน 36</option>
                            <option value="หาดบางแสน 37">หาดบางแสน 37</option>
                            <option value="หาดบางแสน 38">หาดบางแสน 38</option>
                            <option value="หาดบางแสน 39">หาดบางแสน 39</option>
                            <option value="หาดบางแสน 40">หาดบางแสน 40</option>
                            <option value="หาดบางแสน 41">หาดบางแสน 41</option>
                            <option value="หาดบางแสน 42">หาดบางแสน 42</option>
                            <option value="หาดบางแสน 43">หาดบางแสน 43</option>
                            <option value="หาดบางแสน 44">หาดบางแสน 44</option>
                            <option value="หาดบางแสน 45">หาดบางแสน 45</option>
                            <option value="หาดบางแสน 46">หาดบางแสน 46</option>
                            <option value="หาดบางแสน 47">หาดบางแสน 47</option>
                            <option value="หาดบางแสน 48">หาดบางแสน 48</option>
                            <option value="หาดบางแสน 49">หาดบางแสน 49</option>
                            <option value="หาดบางแสน 50">หาดบางแสน 50</option>
                            <option value="หาดบางแสน 51">หาดบางแสน 51</option>
                            <option value="หาดบางแสน 52">หาดบางแสน 52</option>
                            <option value="หาดบางแสน 53">หาดบางแสน 53</option>
                            <option value="หาดบางแสน 54">หาดบางแสน 54</option>
                            <option value="หาดบางแสน 55">หาดบางแสน 55</option>
                            <option value="หาดบางแสน 56">หาดบางแสน 56</option>
                            <option value="หาดบางแสน 57">หาดบางแสน 57</option>
                            <option value="หาดบางแสน 58">หาดบางแสน 58</option>
                            <option value="หาดบางแสน 59">หาดบางแสน 59</option>
                            <option value="หาดบางแสน 60">หาดบางแสน 60</option>
                            <option value="หาดบางแสน 61">หาดบางแสน 61</option>
                            <option value="หาดบางแสน 62">หาดบางแสน 62</option>
                            <option value="หาดบางแสน 63">หาดบางแสน 63</option>
                            <option value="หาดบางแสน 64">หาดบางแสน 64</option>
                            <option value="หาดบางแสน 65">หาดบางแสน 65</option>
                            <option value="หาดบางแสน 66">หาดบางแสน 66</option>
                            <option value="หาดบางแสน 67">หาดบางแสน 67</option>
                            <option value="หาดบางแสน 68">หาดบางแสน 68</option>
                            <option value="หาดบางแสน 69">หาดบางแสน 69</option>
                            <option value="หาดบางแสน 70">หาดบางแสน 70</option>
                            <option value="หาดบางแสน 71">หาดบางแสน 71</option>
                            <option value="หาดบางแสน 72">หาดบางแสน 72</option>
                            <option value="หาดบางแสน 73">หาดบางแสน 73</option>
                            <option value="หาดบางแสน 74">หาดบางแสน 74</option>
                            <option value="หาดบางแสน 75">หาดบางแสน 75</option>
                            <option value="หาดบางแสน 76">หาดบางแสน 76</option>
                            <option value="หาดบางแสน 77">หาดบางแสน 77</option>
                            <option value="หาดบางแสน 78">หาดบางแสน 78</option>
                            <option value="หาดบางแสน 79">หาดบางแสน 79</option>
                            <option value="หาดบางแสน 80">หาดบางแสน 80</option>
                            <option value="หาดบางแสน 81">หาดบางแสน 81</option>
                            <option value="หาดบางแสน 82">หาดบางแสน 82</option>
                            <option value="หาดบางแสน 83">หาดบางแสน 83</option>
                            <option value="หาดบางแสน 84">หาดบางแสน 84</option>
                            <option value="หาดบางแสน 85">หาดบางแสน 85</option>
                            <option value="หาดบางแสน 86">หาดบางแสน 86</option>
                            <option value="หาดบางล่าง 1">บางแสนล่าง 1</option>
                            <option value="บางแสนล่าง 2">บางแสนล่าง 2</option>
                            <option value="บางแสนล่าง 3">บางแสนล่าง 3</option>
                            <option value="บางแสนล่าง 4">บางแสนล่าง 4</option>
                            <option value="บางแสนล่าง 5">บางแสนล่าง 5</option>
                            <option value="บางแสนล่าง 6">บางแสนล่าง 6</option>
                            <option value="บางแสนล่าง 7">บางแสนล่าง 7</option>
                            <option value="บางแสนล่าง 8">บางแสนล่าง 8</option>
                            <option value="บางแสนล่าง 9">บางแสนล่าง 9</option>
                            <option value="บางแสนล่าง 10">บางแสนล่าง 10</option>
                            <option value="บางแสนล่าง 11">บางแสนล่าง 11</option>
                            <option value="บางแสนล่าง 12">บางแสนล่าง 12</option>
                            <option value="บางแสนล่าง 13">บางแสนล่าง 13</option>
                            <option value="บางแสนล่าง 14">บางแสนล่าง 14</option>
                            <option value="บางแสนล่าง 15">บางแสนล่าง 15</option>
                            <option value="บางแสนล่าง 16">บางแสนล่าง 16</option>
                            <option value="บางแสนล่าง 17">บางแสนล่าง 17</option>
                            <option value="บางแสนล่าง 18">บางแสนล่าง 18</option>
                            <option value="บางแสนล่าง 19">บางแสนล่าง 19</option>
                            <option value="บางแสนล่าง 20">บางแสนล่าง 20</option>
                            <option value="บางแสนล่าง 21">บางแสนล่าง 21</option>
                            <option value="บางแสนล่าง 22">บางแสนล่าง 22</option>
                            <option value="บางแสนล่าง 23">บางแสนล่าง 23</option>
                            <option value="บางแสนล่าง 24">บางแสนล่าง 24</option>
                            <option value="บางแสนล่าง 25">บางแสนล่าง 25</option>
                            <option value="บางแสนล่าง 26">บางแสนล่าง 26</option>
                            <option value="บางแสนล่าง 27">บางแสนล่าง 27</option>
                            <option value="บางแสนล่าง 28">บางแสนล่าง 28</option>
                            <option value="บางแสนล่าง 29">บางแสนล่าง 29</option>
                            <option value="บางแสนล่าง 30">บางแสนล่าง 30</option>
                            <option value="บางแสนล่าง 31">บางแสนล่าง 31</option>
                            <option value="บางแสนล่าง 32">บางแสนล่าง 32</option>
                            <option value="บางแสนล่าง 33">บางแสนล่าง 33</option>
                            <option value="บางแสนล่าง 34">บางแสนล่าง 34</option>
                            <option value="บางแสนล่าง 35">บางแสนล่าง 35</option>
                            <option value="บางแสนล่าง 36">บางแสนล่าง 36</option>
                            <option value="บางแสนล่าง 37">บางแสนล่าง 37</option>
                            <option value="บางแสนล่าง 38">บางแสนล่าง 38</option>
                            <option value="บางแสนล่าง 39">บางแสนล่าง 39</option>
                            <option value="บางแสนล่าง 40">บางแสนล่าง 40</option>
                            <option value="บางแสนล่าง 41">บางแสนล่าง 41</option>
                            <option value="บางแสนล่าง 42">บางแสนล่าง 42</option>
                            <option value="บางแสนล่าง 43">บางแสนล่าง 43</option>
                            <option value="บางแสนล่าง 44">บางแสนล่าง 44</option>
                            <option value="บางแสนล่าง 45">บางแสนล่าง 45</option>
                            <option value="บางแสนล่าง 46">บางแสนล่าง 46</option>
                            <option value="บางแสนล่าง 47">บางแสนล่าง 47</option>
                            <option value="บางแสนล่าง 48">บางแสนล่าง 48</option>
                            <option value="บางแสนล่าง 49">บางแสนล่าง 49</option>
                            <option value="บางแสนล่าง 50">บางแสนล่าง 50</option>
                            <option value="บางแสนล่าง 51">บางแสนล่าง 51</option>
                            <option value="บางแสนล่าง 52">บางแสนล่าง 52</option>
                            <option value="บางแสนล่าง 53">บางแสนล่าง 53</option>
                            <option value="บางแสนล่าง 54">บางแสนล่าง 54</option>
                            <option value="บางแสนล่าง 55">บางแสนล่าง 55</option>
                            <option value="บางแสนล่าง 56">บางแสนล่าง 56</option>
                            <option value="บางแสนล่าง 57">บางแสนล่าง 57</option>
                            <option value="บางแสนล่าง 58">บางแสนล่าง 58</option>
                            <option value="บางแสนล่าง 59">บางแสนล่าง 59</option>
                            <option value="บางแสนล่าง 60">บางแสนล่าง 60</option>
                            <option value="บางแสนล่าง 61">บางแสนล่าง 61</option>
                            <option value="บางแสนล่าง 62">บางแสนล่าง 62</option>
                            <option value="บางแสนล่าง 63">บางแสนล่าง 63</option>
                            <option value="บางแสนล่าง 64">บางแสนล่าง 64</option>
                            <option value="บางแสนล่าง 65">บางแสนล่าง 65</option>
                            <option value="บางแสนล่าง 66">บางแสนล่าง 66</option>
                            <option value="บางแสนล่าง 67">บางแสนล่าง 67</option>
                            <option value="บางแสนล่าง 68">บางแสนล่าง 68</option>
                            <option value="บางแสนล่าง 69">บางแสนล่าง 69</option>
                            <option value="บางแสนล่าง 70">บางแสนล่าง 70</option>
                            <option value="บางแสนล่าง 71">บางแสนล่าง 71</option>
                            <option value="บางแสนล่าง 72">บางแสนล่าง 72</option>
                            <option value="บางแสนล่าง 73">บางแสนล่าง 73</option>
                            <option value="บางแสนล่าง 74">บางแสนล่าง 74</option>
                            <option value="บางแสนล่าง 75">บางแสนล่าง 75</option>
                            <option value="บางแสนล่าง 76">บางแสนล่าง 76</option>
                            <option value="บางแสนล่าง 77">บางแสนล่าง 77</option>
                            <option value="บางแสนล่าง 78">บางแสนล่าง 78</option>
                            <option value="บางแสนล่าง 79">บางแสนล่าง 79</option>
                            <option value="บางแสนล่าง 80">บางแสนล่าง 80</option>
                            <option value="แหลมแท่น 1">แหลมแท่น 1</option>
                            <option value="แหลมแท่น 2">แหลมแท่น 2</option>
                            <option value="แหลมแท่น 3">แหลมแท่น 3</option>
                            <option value="แหลมแท่น 4">แหลมแท่น 4</option>
                            <option value="แหลมแท่น 5">แหลมแท่น 5</option>
                            <option value="แหลมแท่น 6">แหลมแท่น 6</option>
                            <option value="แหลมแท่น 7">แหลมแท่น 7</option>
                            <option value="แหลมแท่น 8">แหลมแท่น 8</option>
                            <option value="แหลมแท่น 9">แหลมแท่น 9</option>
                            <option value="แหลมแท่น 10">แหลมแท่น 10</option>
                            <option value="แหลมแท่น 11">แหลมแท่น 11</option>
                            <option value="แหลมแท่น 12">แหลมแท่น 12</option>
                            <option value="แหลมแท่น 13">แหลมแท่น 13</option>
                            <option value="แหลมแท่น 14">แหลมแท่น 14</option>
                            <option value="แหลมแท่น 15">แหลมแท่น 15</option>
                            <option value="แหลมแท่น 16">แหลมแท่น 16</option>
                            <option value="แหลมแท่น 17">แหลมแท่น 17</option>
                            <option value="แหลมแท่น 18">แหลมแท่น 18</option>
                            <option value="แหลมแท่น 19">แหลมแท่น 19</option>
                            <option value="แหลมแท่น 20">แหลมแท่น 20</option>
                            <option value="แหลมแท่น 21">แหลมแท่น 21</option>
                            <option value="แหลมแท่น 22">แหลมแท่น 22</option>
                            <option value="แหลมแท่น 23">แหลมแท่น 23</option>
                            <option value="แหลมแท่น 24">แหลมแท่น 24</option>
                            <option value="แพงลอยสุขุมวิท">แพงลอยสุขุมวิท</option>
                            <option value="ตลาดหนองมน">ตลาดหนองมน</option>
                            <option value="ลานหลังเทศบาล">ลานหลังเทศบาล</option>
                            <option value="ศาลเจ้าแม่เขาสามมุข">ศาลเจ้าแม่เขาสามมุข</option>
                            <option value="ปากซอย 1">ปากซอย 1</option>
                            <option value="หน้าโรงแรมเฮอริเทจ">หน้าโรงแรมเฮอริเทจ</option>

                        </datalist>
                        </input></a>
                    <a>ใช้ชื่อสถานที่ประกอบการว่า : <input type="text" id="workplaceName" style="width: 37.5%">
                        (ถ้ามี)</a>
                    <br>
                    <a>ตั้งอยู่เลขที่ <font color="red">*</font> :
                        <input type="text" id="wPlaceId" style="width: 7%;"
                            onchange="document.getElementById('wPlaceId').classList.remove('alertInput')"></a>
                    <a>หมู่ที่ : <input type="int" id="wMoo" style="width: 7%;"
                            onchange="document.getElementById('wMoo').classList.remove('alertInput')"></a>
                    <a>ตรอก : <input type="text" id="wTrxk" style="width: 13%;"></a>
                    <a>ซอย : <input type="text" id="wSxy" style="width: 13%;"></a>
                    <a>อาคาร : <input type="text" id="wBuilding" style="width: 13.5%;"></a>
                    <a>ถนน : <input type="text" id="wRoad" style="width: 13.5%;"></a>
                    <br>

                    <a style="margin-left: 1.75vw;">จังหวัด <font color="red">*</font> :
                        <select id="wProvince" style="width: 14%;"
                            onchange="document.getElementById('wProvince').classList.remove('alertInput')"></a>
                    </select>
                    <a>อำเภอ <font color="red">*</font> :
                        <select id="wDistrict" style="width: 14%;"
                            onchange="document.getElementById('wDistrict').classList.remove('alertInput')"></a>
                    </select>
                    <a>ตำบล :
                        <select id="wSubdistrict" style="width: 13.5%;"
                            onchange="document.getElementById('wSubdistrict').classList.remove('alertInput')"></a>
                    </select>
                    <a>โทรศัพท์ <font color="red">*</font> :
                        <input type="text" style="width: 6.5vw" id="wPhone"
                            oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                            maxlength="10" onchange="document.getElementById('wPhone').classList.remove('alertInput')"
                            onkeyup="checkPhone(this.value,'wPhone','wPhone_more')"></a>
                    <a style="margin-left: .1vw;">ต่อ</a>
                    <input type="text" id="wPhone_more" style="width: 4vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="4">
                    <a>โทรสาร :
                        <input type="text" id="wFax"
                        maxlength="15"style="width: 13.2%;"></a>
                    <br>
                    <br>
                    <a>ใบอนุญาตฉบับจริง</a>&ensp;
                    <a>ออกให้เมื่อวันที่ :
                        <input type="text" id="datepicker2" style="width: 12%;" maxlength="10" disabled></a>
                    <a>ค่าธรรมเนียม :
                        <input type="number" id="bFee" style="width: 12%;" disabled value="0"></a>
                    <a>ค่าปรับ :
                        <input type="number" id="bFine" style="width: 12%;" disabled value="0"></a>

                    <br>
                    <br>
                    <a>
                        <a>ประกอบกิจการจำหน่ายสินค้าในที่หรือทางสาธารณะ ประเภท</a>
                        <br>
                        <a>1) &nbsp;ประเภทย่อย &nbsp;&nbsp; <font color="red">*</font> :
                            <select id="typeReForm" style="width: 32%;"
                                onchange="document.getElementById('typeReForm').classList.remove('alertInput')">
                                <option value="ล้อเลื่อน (ทั่วไป)">ล้อเลื่อน (ทั่วไป)</option>
                                <option value="ไก่ย่าง">ไก่ย่าง</option>
                                <option value="หาบเร่">หาบเร่</option>
                                <option value="แผงลอยอาหารชายหาด">แผงลอยอาหารชายหาด</option>
                                <option value="ห่วงยาง">ห่วงยาง</option>
                                <option value="นวดแผนไทยชายหาด">นวดแผนไทยชายหาด</option>
                                <option value="เก้าอี้ผ้าใบ">เก้าอี้ผ้าใบ</option>
                                <option value="เรือ">เรือ</option>
                                <option value="แผงลอยอาหารสวนหย่อมแหลมแท่น">แผงลอยอาหารสวนหย่อมแหลมแท่น</option>
                                <option value="ริมทางแนวหินแกรนิต">ริมทางแนวหินแกรนิต</option>
                                <option value="จักรยานเช่า">จักรยานเช่า</option>
                                <option value="เสื้อผ้า">เสื้อผ้า</option>
                                <option value="ล้อเลื่อน (ของที่ระลึก)">ล้อเลื่อน (ของที่ระลึก)</option>
                                <option value="แผงลอยถนนสุขุมวิท">แผงลอยถนนสุขุมวิท</option>
                                <option value="ตลาดเช้า">ตลาดเช้า</option>
                                <option value="ตลาดเย็น">ตลาดเย็น</option>
                                <option value="ตลาดเช้า-เย็น">ตลาดเช้า-เย็น</option>
                                <option value="เขาสามมุข">เขาสามมุข</option>
                                <option value="จักรยานน้ำ">จักรยานน้ำ</option>
                                <option value="ล้อเลื่อน (ฝั่งบน)">ล้อเลื่อน (ฝั่งบน)</option>
                                <option value="แผงลอย">แผงลอย</option>
                                <option value="ล้อเลื่อน">ล้อเลื่อน</option>
                                <option value="ริมทางสาธารณะ (ชั่วคราว)">ริมทางสาธารณะ (ชั่วคราว)</option>
                            </select></a>
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a>สินค้าประเภท <font color="red">*</font> : <input id="typeProduct" style="width: 32%;"
                                onchange="document.getElementById('typeProduct').classList.remove('alertInput')">
                            &emsp;&emsp;&emsp;&emsp;
                            เวลาเริ่ม : <input id="timeStart" type="time" style="width: 11.6%;">
                            เวลาสิ้นสุด : <input id="timeEnd" type="time" style="width: 11.7%;"></a>
                        <p class="font">2) &nbsp;ผู้ได้รับอนุญาตต้องปฏิบัติตามหลักเกณฑ์ วิธีการ
                            และเงื่อนไขที่กำหนดในข้อกำหนดของท้องถิ่น</p>
                        <p class="font">3)
                            &nbsp;หากปรากฎในภายหลังว่าการประกอบกิจการที่ได้รับอนุญาตนี้เป็นการขัดต่อกฎหมายอื่นที่เกี่ยวข้องโดยมิอาจแก้ไขได้
                            เจ้าหน้าที่ท้องถิ่นอื่นอาจพิจารณาให้เพิกถอนการอนุญาตนี้ได้</p>
                        <p class="font">
                            <p class="font">4) &nbsp;ผู้รับใบอนุญาตต้องปฏิบัติตามเงื่อนไขดังต่อไปนี้อีกด้วย คือ</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a>4.1 </a><input type="text" id='con_no1' style="width: 40%;">
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a>4.2 </a><input type="text" id='con_no2' style="width: 40%;">
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a>4.3 </a><input type="text" id='con_no3' style="width: 40%;">
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a>4.4 </a><input type="text" id='con_no4' style="width: 40%;">
                        </p>
                        <a>5) &nbsp;ใบอนญาตฉบับนี้ออกให้เมื่อวันที่ <input type="text" id="request_date_issued" disabled
                                readonly></a><br>
                        <a>6) &nbsp;ใบอนญาตฉบับนี้สิ้นอายุวันที่
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="request_date_exp" disabled
                                readonly></a>
                    </a>
                    <br>
                </div>
                <br>
                <!-- บุคคลอ้างอิง -->
                <div class="box">
                    <br>
                    <a>บุคคลอ้างอิง</a>
                    <br><br>
                    <a style="margin-left: 5%;">คำนำหน้าชื่อ</a>
                    <input list="title_name_reference" id="reference_title" name="" style="width: 10%;" maxlength="30">
                    <datalist id="title_name_reference">
                        <option value="" hidden>เลือก...</option>
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                    </datalist>
                    </input>

                    <a>ชื่อ</a>
                    <input id="reference_name" name="" style="width: 15%;" maxlength="70">
                    <a>นามสกุล</a>
                    <input id="reference_surname" name="" style="width: 15%;" maxlength="70">
                    <a>สถานะ</a>
                    <input id="reference_status" name="" style="width: 10%;" maxlength="30">
                    <a>เบอร์โทร</a>
                    <input id="reference_phone" name="" style="width: 6.5vw;" maxlength="10"
                        oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                        onkeyup="checkPhone(this.value, 'reference_phone','reference_phone_more')">
                    <a style="margin-left: .1vw;">ต่อ</a>
                    <input type="text" id="reference_phone_more" style="width: 4vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="4">
                    <br>
                    <br>
                </div><br>
                <!-- สัมผัสอาหาร -->
                <div class="box">
                    <h3 style="font-size: 2.8vh;">ใบอบรมผู้สัมผัสอาหาร <font color="red">*</font>
                    </h3>
                    <input type="radio" name="food" id="foodTrain" onClick="show_food(this.value);" value="1"
                        style="margin-left: 5vw;" />
                    <a>อบรมแล้ว</a>
                    <input type="radio" name="food" id="foodNoTrain" onClick="show_food(this.value);" value="2" checked>
                    <a>ยังไม่ได้อบรม</a>
                    <br>
                    <div id="boxFood" class="boxFood" style="display:none;margin-left: 5vw;">
                        <a>ออกใบประกาศนียบัตรโดย</a>
                        <input type="text" id="foodBy"
                            onchange="document.getElementById('foodBy').classList.remove('alertInput')" />
                        <br>
                        <a>ให้ไว้ ณ วันที่</a>
                        <input type="text" id="datepicker5" maxlength="10"
                            onchange="document.getElementById('datepicker5').classList.remove('alertInput')" />&nbsp;
                        <a>มีผลถึง ณ วันที่</a>
                        <input type="text" id="datepicker6" maxlength="10"
                            onchange="document.getElementById('datepicker6').classList.remove('alertInput')" />
                    </div>
                    <br>
                </div><br>

                <!-- เพิ่มรูป -->
                <div class="box">
                    <br>
                    <div>
                        <a>รูปภาพผลการตรวจสอบ</a>
                        <input type="file" id="uploadFile" style="display: none;" onchange="handleFileSelect(event)"
                            accept="image/*" multiple>
                        <button type="button" class="button" onclick="document.getElementById('uploadFile').click()">
                            <h5><i class="fa fa-upload"></i>
                                อัพโหลดภาพ</h5>
                        </button>
                        
                        <br>
                        <br>
                        <div id='outputImage' style="height: 40vh; overflow-y:auto; border: 0.3vh solid black;">
                        </div>
                    </div>
                </div><br>
                <!-- อนุญาต -->
                <div class="box">
                    <br>
                    <input type="radio" name="confirm" id="confirm" onClick="show_confirm(this.value);" value="1"
                        checked>
                    <a> ยืนยันคำขอรับ </a>
                    &nbsp;

                    <br>
                    <br>
                    <div style="margin-left: 8vw;">
                        <input type="checkbox" id="documentId" value="cb1"><a>
                            หนังสือยินยอมให้ใช้อาคารสถานที่เป็นที่ประกอบการ</a>
                        <br>
                        <input type="checkbox" id="documenthHome" value="cb2"><a>
                            สำเนาทะเบียนบ้าน/โฉนดที่ดิน(ที่ให้ใช้เป็นสถานที่ประกอบกิจการ)</a>
                        <br>
                        <input type="checkbox" id="documentLegalEntity" value="cb3"><a>
                            ใบรับรองแพทย์ผู้ขอรับใบอนุญาตและผู้ช่วยจำหน่ายสินค้า (ตามแบบ สณ.๑๑)</a>
                        <br>
                        <input type="checkbox" id="documentSignature" value="cb4"><a> หนังสือสัญญาเช่า</a>
                        <br>
                        <input type="checkbox" id="documentSJ4" value="cb5"><a> หนังสือมอบอำนาจพร้อมติดอากรแสตมป์</a>
                        <br>
                        <input type="checkbox" id="documentOther" value="cb6"><a> เอกสารอื่นๆที่เกี่ยวข้อง</a>
                        <input type="text" id="other" size="40" />
                    </div>
                    <br>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col" style="width: 33.33%;">
                            <a>
                                ข้าพเจ้าขอรับรองว่า
                                ข้อความในแบบคำร้องขอต่อใบอนุญาตนี้เป็นจริงทุกประการ
                                <br>
                                (ลงชื่อ)
                                <!-- <input type="text" id="documentName" /> -->
                                <input list="documentName1" id="documentName" name="" disabled readonly>
                                ผู้ขอรับใบอนุญาต
                            </a>
                        </div>
                        <div class="col" style="width: 33.33%;">
                            <a>
                                ลงชื่อ
                                <select id="documentName2" name="" style="width: 18vw;" disabled></select>
                                <br>
                                <p class="text-center">ผู้รับเงิน</p>
                            </a>
                        </div>
                        <div class="col" style="width: 33.33%;">
                            <a>
                                &emsp;ลงชื่อ
                                <select id="documentName3" name="" style="width: 18vw;" disabled></select>
                                <br>
                                ตำแหน่ง
                                <input type="text" id="position" style="width: 18vw;" readonly disabled>
                                <br>
                                เจ้าพนักงานท้องถิ่น
                            </a>
                        </div>
                    </div>

                </div><br>
                <div class='box' id='delete_request' style="display: none;">
                    <br>
                    <a style="margin-left: 2vw;">วันที่ยกเลิก</a>
                    <input type='text' id='delete_date' style="margin-left: 0.5vw;width: 7.5vw;" disabled>
                    <br>
                    <br>
                    <a style="margin-left: 2vw;">เหตุผลที่ยกเลิก</a>
                    <br>
                    <textarea id='delete_detail' row='10' style='width:90%;margin-left: 5.5vw;margin-top: .5vw;'
                        disabled>

                    </textarea>
                    <br>
                </div>
                <br>

            </div>

        </fieldset>
    </form>


</body>

<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="../../js/service/utilities.js"></script>
<script src="../../js/service/address/twoAddress.js"></script>
<script src="../../js/service/sideMenu.js"></script>

<script src="../../js/request/request.js"></script>
<script src="../../js/request/RequestControl.js"></script>
<script src="../../js/request/RequestData.js"></script>
<script src="../../js/request/RequestService.js"></script>
<script src="../../js/service/checkUserLogin.js"></script>
<script>
    console.log('sadasd')
    setRequsetType('ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ')
    checkView()
</script>
<!-- <script src="../../js/request/controlTest.js"></script> -->
<!-- <script src="../../js/service/checkUserLogin.js"></script> -->

</html>