<!DOCTYPE html>
<html lang="en">

<head>
    <title>ค้นหา/แก้ไข</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- เรียกไลบารี่สร้างปฎิทิน  -->
    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/date/datetimepicker.full.js"></script>
    <script src="../../js/service/date/dateth.js"></script>
    <link rel="stylesheet" href="../../css/date.css">
</head>

<body onkeyup="runScript(event)">
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit disableds" onclick="addPage()"><i class="fa fa-plus-square"><span>
                    เพิ่ม</span></i></a>
        <a id="editMenu" onclick="editPage()" class="exit disableds"><i class="fa fa-pencil-alt"><span>
                    แก้ไข</span></i></a>
        <a id="saveMenu" onclick="insertPage()" class="exit disableds"><i class="fa fa-save"><span>
                    บันทึก</span></i></a>
        <a id="restoreMenu" onclick="restorePage()" class="exit disableds"><i class="fa fa-reply"><span>
                    เรียกคืน</span></i></a>
        <a id="deleteMenu" onclick="deletePage()" class="exit disableds"><i class="fa fa-times"><span>
                    ยกเลิก</span></i></a>
        <!-- <a><i class="fa fa-search"> ค้นหา</i></a> -->
        <a id="exitMenu" onclick="exitPage()" class="exit" style="float: right;width: 17%;"><i
                class="fa fa-sign-out-alt" style="color: #009688"></i>
            <span>ออกจากระบบ</span></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:95%;">
        </a>
        <br>
        <button class="dropdown-btn select-active"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="dropdown-active" href="searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="request_public_sell.html">-
                ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_more_correct.html">- ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="request_crematory.html">- กิจการฌาปณสถาน</a>
        </div>
        <button class="dropdown-btn"><b>ระบบต่ออายุงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../renew/renew_public_sell.html">- คำขอต่อใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_public_hawk.html">- คำขอต่อใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_area_more_sell.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_more_correct.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_area_less_sell.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_less_correct.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_market.html">- คำขอต่อใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../renew/renew_health_danger.html">- คำขอต่อกิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../renew/renew_crematory.html">- คำขอต่อกิจการฌาปณสถาน</a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../central/operator.html">- ข้อมูลผู้ประกอบการ</a>
            <a href="../central/02.html">- ข้อมูลการจดใบอนุญาต</a>
            <a href="../central/03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../utilities/petition.html">- บันทึกเรื่องร้องเรียน</a>
            <a href="#">- บันทึกคำร้อง</a>
        </div>
        <button class="dropdown-btn" id="adminna" style="display: none;"><b>ข้อมูลระบบ </b><i
                class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest2"
                    class="badge" style="margin-left:0.5vw;">100000</span></a>
        </div>
        <br><br>
        <button class="dropdown-btn"><a href="../notfication/request copy.html" style="color: red;"><b>คำขอหมดอายุเกิน 3
                    ปี </b></a>
            <!-- <i class="fa fa-caret-down"></i> -->
        </button>
    </div>
    <!-- เนื้อหา -->
    <form id="form">
        <fieldset style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <header class="w3-top2">
                    <h1 style="font-size:2.8vh;margin-left: 25px;padding: 2px;"> ค้นหา / แก้ไข</h1>
                </header>
                <div class="box" style="border: 0;">

                    <div class="row">
                        <div class="col" style="width: 25%;">
                            <a><b>ค้นหาตาม</b></a>
                        </div>
                        <div class="col">
                            <a><b>ป้อนข้อมูลค้นหา</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="width: 25%;">
                            <select size="9" style="width: 100%; background-size: 0%; font-family: 'Sarabun';"
                                id="searchItem" onchange="selectItem(this.value)">
                                <option selected="selected" value=1>ชื่อผู้ขอ</option>
                                
                                <option value=3>เลขที่ใบคำขอ</option>
                                <option value=4>เลขประจำตัว</option>
                                <option value=2>วันที่ออกใบ (ใบคำขอ)</option>
                                <option value=5>วันที่หมดอายุ (ใบคำขอ)</option>
                                <option value=6>ใบอนุญาต</option>
                                <option value=7>ประเภทใบอนุญาต</option>
                                <option value=8>ที่อยู่</option>
                                <option value=9>สถานประกอบการ</option>
                            </select>
                        </div>
                        <div class="col " id="searchUser" style="width: 75%;">
                            <a>ชื่อผู้ขอ</a>
                            <br>
                            <a style="margin-left: 2.2vw;">ชื่อ :</a>
                            <input type="text" style="width: 50%;" id='name_s'><br>
                            <a>นามสกุล :</a>
                            <input type="text" style="width: 50%;"id= 'surname_s'>
                        </div>
                        <div class="col displaynone" id="searchDate" style="width: 75%;">
                            <a>วันที่ออกใบ (ใบคำขอ)</a>
                            <br>
                            <input type="text" id="datepicker1" style="width: 50%;margin-left: 2.2vw;" >
                        </div>
                        <div id='searchId' class="displaynone col" style="width: 75%;">
                            <a>เลขที่ใบคำขอ ลำดับที่</a>
                            <br>
                            <input type="text" style="width: 10vw;margin-left: 2.2vw;" id='r_no'>
                            <a>/</a>
                            <input type="text" style="width: 10vw;" id='r_year'>
                        </div>
                        <div id='searchPerID' class="displaynone col" style="width: 75%;">
                            <a>เลขประจำตัว</a>
                            <br>
                            <input type="text" style="width: 50%;margin-left: 2.2vw;"id='personal_id'>
                        </div>
                        <div id="searchDateEx" class="displaynone col" style="width: 75%;">
                            <a>วันที่หมดอายุ (ใบคำขอ)</a>
                            <br>
                            <input type="text" id="datepicker2" style="width: 50%;margin-left: 2.2vw;" >
                        </div>
                        <div id="searchType" class="displaynone col" style="width: 75%;">
                            <a>ใบอนุญาต</a>
                            <br>
                            <input list="brow" id="type_request" name="" style="width: 50%;margin-left: 2.2vw;" >
                            <datalist id="brow">
                                <option value="ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ">
                                    ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ
                                </option>
                                <option value="ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ">
                                    ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ
                                </option>
                                <option value="ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร">ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร
                                </option>
                                <option value="ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร">ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร
                                </option>
                                <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร">
                                    หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</option>
                                <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร">
                                    หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</option>
                                <option value="ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน">ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน
                                </option>
                                <option value="กิจการที่เป็นอันตรายต่อสุขภาพ">กิจการที่เป็นอันตรายต่อสุขภาพ</option>
                                <option value="กิจการฌาปณสถาน">กิจการฌาปณสถาน</option>
                            </datalist>
                        </div>
                        <div id='searchTypeBuidding' class="displaynone col" style="width: 75%;">
                            <a>ประเภทใบอนุญาต</a>
                            <br>
                            <input list='r_type' type="text" style="width: 50%;margin-left: 2.2vw;" id='type_product'> 
                            <datalist id="r_type">

                            </datalist>
                        </div>
                        <div id='searchAddress' class="col displaynone" style="width: 75%;">
                            <a>ที่อยู่</a>
                            <br>

                            <a style="margin-left: 0vw;">ตั้งอยู่เลขที่ :</a>
                            <input type="text" id='homeId' style="width: 12vw;">
                            <a style="margin-left: 1vw;">หมู่ที่ :</a>
                            <input type="text" id='moo' style="width: 12vw;">
                            <a style="margin-left: 0.45vw;">ตรอก :</a>
                            <input type="text" id='trxk' style="width: 13vw;">
                            <br>
                            <a style="margin-left: 2.6vw;">ซอย :</a>
                            <input type="text" id='sxy' style="width: 12vw;">
                            <a style="margin-left: 0.2vw;">อาคาร :</a>
                            <input type="text" id='bA' style="width: 12vw;">
                            <a style="margin-left: 0.9vw;">ถนน :</a>
                            <input type="text" id='road' style="width: 13vw;">
                            <br>

                            <a style="margin-left: 1.6vw;">จังหวัด :</a>
                            <select id="province" style="width: 12vw;">
                            </select>
                            <a style="margin-left: .2vw;">อำเภอ :</a>
                            <select id="district" style="width: 12vw;">
                            </select>
                            <a style="margin-left: .45vw;">ตำบล :</a>
                            <select id="subdistrict" style="width: 12.5vw;">
                            </select>
                        </div>
                        <div id='searchPlace' class="displaynone col" style="width: 75%;">
                            <a>ชื่อสถานประกอบการ</a>
                            <br>
                            <input type="text" style="width: 50%;margin-left: 2.2vw;" id='e_name'>
                        </div>

                    </div>
                    <div style="text-align: right ;margin-right: 1vw;">
                        <button type='button' style="background-color: #009688; width: 8vw;border-radius: .1vw;"
                        onclick="searchRequestPage()"> 
                            <i class="fa fa-search"></i>
                            ค้นหา</button>
                    </div>
                    <a style="text-align: left;"><b> ผลลัพธ์การค้นหา </b></a>
                    <div style="font-size: 1.7vh; text-align: center;">
                        <table id="requestTable" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'requestTable','')">
                                        <p>ใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'requestTable')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'requestTable')">
                                        <p>เลขที่ใบคำขอ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'requestTable')">
                                        <p>ชื่อสถานประกอบการ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'requestTable','')">
                                        <p>ชื่อผู้ขอ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'requestTable','')">
                                        <p>รหัสประจำตัว <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(6,'requestTable')">
                                        <p>ที่อยู่ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(7,'requestTable','date')">
                                        <p>วันที่ออกใบ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(8,'requestTable','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>


</body>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/request/searchRequest.js"></script>



<script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="../../js/service/utilities.js"></script>

<script src="../../js/service/sideMenu.js"></script>
<!-- <script src="../../js/service/checkUserLogin.js"></script> -->
<script src='../../js/service/address/oneAddress.js'></script>

</html>