<!DOCTYPE html>
<html lang="en">

<head>
    <title>ค้นหา/แก้ไข</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/js22.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- เรียกไลบารี่สร้างปฎิทิน  -->
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/datetimepicker.full.js"></script>
    <script src="../../js/dateth.js"></script>
    <link rel="stylesheet" href="../../css/date.css">
</head>

<body>
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit disableds" onclick="addTEST()"><i class="fa fa-plus-square"
                style="color: #009688"></i>
            <span>เพิ่ม</span></a>
        <a id="editMenu" onclick="editTEST()" class="exit disableds"><i class="fa fa-pencil" style="color: #009688"></i>
            <span>แก้ไข</span></a>
        <a id="saveMenu" onclick="insertTEST()" class="exit disableds"><i class="fa fa-floppy-o"></i>
            <span>บันทึก</span></a>
        <a id="restoreMenu" onclick="restoreTEST()" class="exit disableds"><i class="fa fa-reply"
                style="color: #009688"></i>
            <span>เรียกคืน</span></a>
        <a id="deleteMenu" onclick="deleteTEST()" class="exit disableds"><i class="fa fa-close"
                style="color: #009688"></i>
            <span>ยกเลิก</span></a>
        <!-- <a><i class="fa fa-search"> ค้นหา</i></a> -->
        <a id="exitMenu" onclick="exitTEST()" class="exit" style="float: right;width: 17%;"><i class="fa fa-sign-out"
                style="color: #009688"></i>
            <span>ออกจากระบบ</span></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:95%;">
        </a>
        <br>
        <button class="dropdown-btn select-active"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="dropdown-active" href="searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="request_public_sell.html">-
                ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_more_correct.html">- ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="request_crematory.html">- กิจการฌาปณสถาน</a>

        </div>
        <button class="dropdown-btn"><b>งานตรวจสอบ/อนุมัติ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>งานใบอนุญาต </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../central/operator.html">- ข้อมูลผู้ประกอบการ</a>
            <a href="../central/02.html">- ข้อมูลการจดใบอนุญาต</a>
            <a href="../central/03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#">- บันทึกเรื่องร้องเรียน</a>
            <a href="#">- บันทึกคำร้อง</a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลระบบ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest"
                    class="badge" style="margin-left:0.5vw;">100000</span></a>
        </div>
    </div>
    <!-- เนื้อหา -->
    <form id="form">
        <fieldset style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <header class="w3-top2">
                    <h1 style="font-size:2.8vh;margin-left: 25px;padding: 2px;"> ค้นหา / แก้ไข</h1>
                </header>
                <div class="box" style="border: 0;">

                    <div class="row">
                        <div class="col" style="width: 25%;">
                            <a><b>ค้นหาตาม</b></a>
                        </div>
                        <div class="col">
                            <a><b>ป้อนข้อมูลค้นหา</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="width: 25%;">
                            <select size="9" style="width: 90%; background-size: 0%; font-family: 'Sarabun';"
                                id="searchItem" onchange="selectItem(this.value)">
                                <option selected="selected" value=1>ชื่อผู้ขอ</option>
                                <option value=2>วันที่ยื่น</option>
                                <option value=3>เลขที่ใบคำขอ</option>
                                <option value=4>เลขประจำตัว</option>
                                <option value=5>วันที่หมดอายุ (ใบคำขอ)</option>
                                <option value=6>ประเภทใบอนุญาต</option>
                                <option value=7>ประเภทกิจการ</option>
                                <option value=8>ที่อยู่</option>
                                <option value=9>สถานประกอบการ</option>
                            </select>
                        </div>
                        <div class="col" id="searchUser" style="width: 75%;">
                            <a>ชื่อผู้ขอ</a>
                            <br><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a>ชื่อ :</a>
                            <input type="text" style="width: 50%;"><br>
                            <a>นามสกุล :</a>
                            <input type="text" style="width: 50%;">
                        </div>
                        <div class="col displaynone" id="searchDate" style="width: 75%;">
                            <a>วันที่ค้นหา</a>
                            <br>
                            <input type="text" id="datepicker1" style="width: 50%;">
                        </div>
                        <div id='searchId' class="displaynone col" style="width: 75%;">
                            <a>เลขที่ใบคำขอ</a>
                            <br>
                            <input type="text" style="width: 50%;">
                        </div>
                        <div id='searchPerID' class="displaynone col" style="width: 75%;">
                            <a>เลขประจำตัว</a>
                            <br>
                            <input type="text" style="width: 50%;">
                        </div>
                        <div id="searchDateEx" class="displaynone col" style="width: 75%;">
                            <a>วันที่หมดอายุ (ใบคำขอ)</a>
                            <br>
                            <input type="text" id="datepicker2" style="width: 50%;">
                        </div>
                        <div id="searchType" class="displaynone col" style="width: 75%;">
                            <a>ประเภทใบอนุญาต</a>
                            <br>
                            <input list="brow" id="" name="" style="width: 50%;">
                            <datalist id="brow">
                                <option value="ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ">
                                    ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ
                                </option>
                                <option value="ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ">
                                    ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ
                                </option>
                                <option value="ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร">ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร
                                </option>
                                <option value="ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร">ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร
                                </option>
                                <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร">
                                    หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</option>
                                <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร">
                                    หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</option>
                                <option value="ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน">ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน
                                </option>
                                <option value="กิจการที่เป็นอันตรายต่อสุขภาพ">กิจการที่เป็นอันตรายต่อสุขภาพ</option>
                                <option value="กิจการฌาปณสถาน">กิจการฌาปณสถาน</option>
                            </datalist>
                        </div>
                        <div id='searchTypeBuidding' class="displaynone col" style="width: 75%;">
                            <a>ประเภทกิจการ</a>
                            <br>
                            <input type="text" style="width: 50%;">
                        </div>
                        <div id='searchAddress' class="col displaynone" style="width: 75%;">
                            <a>ที่อยู่</a>
                            <br>
                            <br>

                            <a style="margin-left: 0vw;">ตั้งอยู่เลขที่ :
                                <input type="text"></a>
                            <a style="margin-left: 1vw;">หมู่ที่ :
                                <input type="text"></a>
                            <a style="margin-left: 0.2vw;">ตรอก :
                                <input type="text"></a>
                            <br>
                            <a style="margin-left: 2.6vw;">ซอย :
                                <input type="text"></a>
                            <a style="margin-left: 0.2vw;">อาคาร :
                                <input type="text"></a>
                            <a style="margin-left: 0.7vw;">ถนน :
                                <input type="text"></a>
                            <br>

                            <a style="margin-left: 1.63vw;">จังหวัด :
                                <select id="province" style="width: 22.5%;">
                                </select></a>
                            <a style="margin-left: .4vw;">อำเภอ :
                                <select id="district" style="width: 22.5%;">
                                </select></a>
                            <a style="margin-left: .45vw;">ตำบล :
                                <select id="subdistrict" style="width: 22.5%;">
                                </select></a>
                        </div>
                        <div id='searchPlace' class="displaynone col" style="width: 75%;">
                            <a>ชื่อสถานประกอบการ</a>
                            <br>
                            <input type="text" style="width: 50%;">
                        </div>

                    </div>
                    <div style="text-align: right ;">
                        <button class="fa fa-search" style="background-color: #009688; width: 25%;"> ค้นหา</button>
                    </div>
                    <a style="text-align: left;"><b> ผลลัพธ์การค้นหา </b></a>
                    <div style="font-size: 1.7vh; text-align: center;">
                        <table id="requestTable" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'requestTable','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'requestTable'),''">
                                        <p>ประเภทกิจการ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'requestTable'),''">
                                        <p>เลขที่ใบคำขอ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(4,'requestTable'),'date'">
                                        <p>ชื่อสถานประกอบการ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(3,'requestTable'),''">
                                        <p>ชื่อผู้ขอ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'requestTable'),'date'">
                                        <p>ที่อยู่ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'requestTable'),'date'">
                                        <p>วันที่ยื่น <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'requestTable'),'date'">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr onclick="toRequest(event)">
                                    <td>หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่าย</td>
                                    <td>1.การจำหน่ายสินค้าในที่
                                        หรือทางสาธารณะโดยลักษณะวิธีการจัดวางสินค้าในที่หนึงที่ใดเป็นต้น
                                    </td>
                                    <td>0001/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร ฟ้า</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 กันยายน 2562</td>
                                    <td>1 กันยายน 2568</td>
                                </tr>
                                <tr onclick="toRequest(event)">
                                    <td>ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร</td>
                                    <td>1.การจำหน่ายสินค้าในที่
                                        หรือทางสาธารณะโดยลักษณะวิธีการจัดวางสินค้าในที่หนึงที่ใดเป็นต้น
                                    </td>
                                    <td>0002/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร น้ำเงิน</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 พฤศจิกายน 2562</td>
                                    <td>1 พฤศจิกายน 2568</td>
                                </tr>
                                <tr onclick="toRequest(event)">
                                    <td>หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่าย</td>
                                    <td>1.การจำหน่ายสินค้าในที่
                                        หรือทางสาธารณะโดยลักษณะวิธีการจัดวางสินค้าในที่หนึงที่ใดเป็นต้น
                                    </td>
                                    <td>0003/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร ชมพู</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 ธันวาคม 2562</td>
                                    <td>1 ธันวาคม 2568</td>
                                </tr>
                                <tr onclick="toRequest(event)">
                                    <td>ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร</td>
                                    <td>test
                                    </td>
                                    <td>0001/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร ชมพู</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 มิถุนายน 2562</td>
                                    <td>1 มิถุนายน 2568</td>
                                </tr>
                                <tr onclick="toRequest(event)">
                                    <td>หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่าย</td>
                                    <td>1.การจำหน่ายสินค้าในที่
                                        หรือทางสาธารณะโดยลักษณะวิธีการจัดวางสินค้าในที่หนึงที่ใดเป็นต้น
                                    </td>
                                    <td>0005/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร เขียวชมพู</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 มิถุนายน 2562</td>
                                    <td>1 มิถุนายน 2568</td>
                                </tr>
                                <tr onclick="toRequest(event)">
                                    <td>หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่าย</td>
                                    <td>1.การจำหน่ายสินค้าในที่
                                        หรือทางสาธารณะโดยลักษณะวิธีการจัดวางสินค้าในที่หนึงที่ใดเป็นต้น
                                    </td>
                                    <td>0006/2562</td>
                                    <td>ร้านข้าวมันไก่อร่อยที่สุดที่โลก</td>
                                    <td>สมควร แดงชมพู</td>
                                    <td>9/145 ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                    <td>1 กันยายน 2562</td>
                                    <td>1 กันยายน 2568</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>


</body>
<script src="../../js/searchRequest.js"></script>
<!-- <script src="../../js/jquery.js"></script> -->
<script src="../../js/js22.js"></script>
<script src="../../js/controlTest.js"></script>
<script src="../../js/disable.js"></script>
<script src="../../js/sweet2.js"></script>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/address.js"></script>
<script src="../../js/utilities.js"></script>

</html>