<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../../css/fonts.css">

    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/bootstrap-4.4.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-4.4.1/bootstrap.min.css">

</head>
<style>
    a {
        text-decoration: none !important;
        font-weight: bold;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font-size: 12pt;
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .page {
        width: 310mm;
        min-height: 297mm;
        /* padding: 15mm; */
        padding-left: 15mm;
        padding-right: 15mm;
        padding-top: 3mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 1px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 1cm;
        border: 2px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {

        html,
        body {
            width: 210mm;
            height: 297mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }

        .align {
            position: absolute;
            bottom: 10mm;
        }
    }
</style>

<body>
    <div class="page">
        <div class="container" style="font-family: 'Sarabun';">
            <div style="text-align: center;">
                <p style="float: right;">แบบ อภ.2</p>
                <br>
                <br>
                <p><img src="../../img/ตราครุฑ.png" style="width: 110px;"></p>
                <h4>ใบอนุญาตประกอบกิจการที่เป็นอันตรายต่อสุขภาพ</h4>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    เลขที่&emsp; <a id="number">12/2563</a>
                    <a style="float: right;padding-right: 2cm;">สำนักงาน เทศบาลเมืองแสนสุข</a>
                </div>
            </div>
            <br>
            <!-- 1. -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <p>อนุญาตให้&emsp;
                        <input type="checkbox" name="nametype" id="typeName1"> บุคคลธรรมดา <input type="checkbox" name="nametype"
                            id="typeName2"> นิติบุคคล</p>
                </div>
                <div class="col-4">ชื่อ &emsp;<a id="name">นางสาว ณัฐิดา ต้นบุญ</a></div>
                <div class="col">อายุ &emsp;<a id="age">28</a> ปี</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>สัญชาติ &emsp;<a id="nationality">ไทย</a></p>
                </div>
                <div class="col">
                    เลขบัตรประชาชนเลขที่ &emsp;<a id="nameId">1321200072125</a>
                </div>
                <div class="col">อยู่บ้าน/สำนักงานเลขที่ &emsp;<a id="homeId">260/170</a></div>
            </div>
            <div class="row">
                <div class="col"><p>ตรอก &emsp;<a id="trxk">-</a></p></div>
                <div class="col">ซอย &emsp;<a id="sxy">-</a></div>
                <div class="col">ถนน &emsp;<a id="road">-</a></div>
                <div class="col">หมู่ที่ &emsp;<a id="moo">5</a></div>
            </div>
            <div class="row">
                <div class="col">แขวง/ตำบล &emsp;<a id="subdistrict">บึง</a></div>
                <div class="col">
                    <p>เขต/อำเภอ &emsp;<a id="district">ศรีราชา</a></p>
                </div>
                <div class="col">จังหวัด &emsp;<a id="province">ชลบุรี</a></div>
            </div>
            <div class="row">
                <div class="col-4"><p>โทรศัพท์ &emsp;<a id="phone">0955021002</a></p></div>
                <div class="col"><p>โทรสาร &emsp;<a id="fax">025021002</a></p></div>
            </div>
            <!-- 2. -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <p>ข้อ 1. ประกอบกิจการที่เป็นอันตรายต่อสุขภาพประเภท &emsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><a id="category">121. การประกอบกิจการเลี้ยง รวบรวมสัตว์นานา ชนิดในที่สาธารณะหรือที่เอกชนหรือธุรกิจอื่นใด อันมีลักษณะทํานองเดียวกัน เพื่อให้ประชาชน เข้าชมหรือเพื่อประโยชน์ ของกิจการนั้น ทั้งนี้จะ มีการเรียกเก็บค่าดูหรือค่าบริการไม่ว่าทางตรง หรือทางอ้อมหรือไม่ก็ตาม
                    </a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>ลำดับที่ &emsp;<a id="no">121</a></p>
                </div>
                <div class="col">ค่าธรรมเนียมฉบับละ &emsp;<a id="fee">2000</a>&emsp; บาท</div>
            </div>
            <div class="row">
                <div class="col">
                    <p>ลงวันที่ &emsp;<a id="day">20</a></p>
                </div>
                <div class="col">เดือน &emsp;<a id="month">มกราคม</a></div>
                <div class="col">พ.ศ. &emsp;<a id="year">2563</a></div>
                <div class="col-7">โดยใช้ชื่อสถานประกอบการว่า &emsp;<a id="nameShop">บริษัท</a></div>
            </div>
            <div class="row">
                <div class="col">
                    <p>พื่นที่ประกอบการ &emsp;<a id="area">-</a>&emsp; ตารางเมตร</p>
                </div>
                <div class="col">กำลังเครื่องจักร &emsp;<a id="power">-</a>&emsp; แรงม้า</div>
                <div class="col">จำนวนคนงาน &emsp;<a id="people">-</a>&emsp; คน</div>
            </div>
            <div class="row">
                <div class="col"><p>ตั้งอยู่ ณ เลขที่ &emsp;<a id="homeIdS">236,238</a></p></div>
                <div class="col">ตรอก/ซอย &emsp;<a id="trxkS">-</a></div>
                <div class="col">ถนน &emsp;<a id="roadS">บางแสนล่าง</a></div>
                <div class="col">หมู่ที่ &emsp;<a id="mooS">5</a></div>
            </div>
            <div class="row">
                <div class="col">แขวง/ตำบล &emsp;<a id="subdistrictS">บึง</a></div>
                <div class="col">
                    <p>เขต/อำเภอ &emsp;<a id="districtS">ศรีราชา</a></p>
                </div>
                <div class="col">จังหวัด &emsp;<a id="provinceS">ชลบุรี</a></div>
            </div>
            <div class="row">
                <div class="col-4"><p>โทรศัพท์ &emsp;<a id="phoneS">0955021002</a></p></div>
                <div class="col"><p>โทรสาร &emsp;<a id="faxS">025021002</a></p></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <p>ข้อ 2. ผู้ได้รับอนุญาตต้องปฏิบัติตามเงื่อนไขโดยเฉพาะ ดังต่อไปนี้</p>
                    <p>&emsp;&ensp;(1)<a id="note1"></a></p>
                    <p>&emsp;&ensp;(2)<a id="note2"></a></p>
                    <p>&emsp;&ensp;(3)<a id="note3"></a></p>
                    <p>&emsp;&ensp;(4)<a id="note4"></a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>ใบอนุญาตฉบับนี้ให้ใช้ได้จนถึงวันที่ &emsp;<a id="day3">9</a></p>
                </div>
                <div class="col-3">เดือน &emsp;<a id="month3">มกราคม</a></div>
                <div class="col-3">พ.ศ. &emsp;<a id="year3">2563</a></div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;  ออกให้ ณ วันที่ &emsp;<a id="day2">9</a></p>
                </div>
                <div class="col-3">เดือน &emsp;<a id="month2">มกราคม</a></div>
                <div class="col-3">พ.ศ. &emsp;<a id="year2">2563</a></div>
            </div>
            <br><br>
            <!-- ลงชื่อ -->
            <div class="row">
                <div class="col-6"></div>
                <div class="col text-center">
                    (ลงชื่อ) &emsp;<img id='s_nayo' src="../../img/signature.png" style="width: 200px;">&emsp;&emsp;&emsp;
                    <br>
                    (  <c id='name_nayo'>นายประณีต ศักดิ์วราสวัสดิ์</c> )
                    <br>
                    <c id='position_nayo'>รองนายกเทศมนตรี ปฏิบัติราชการแทน</c>
                    <br>
                    <c >นายกเทศมนตรีเมืองแสนสุข</c>
                    <br>
                    เจ้าพนักงานท้องถิ่น
                </div>
            </div>

            <div class="align">
                <u><b>คำเตือน</b></u>&ensp;1. ต้องแสดงใบอนุญาตนี้ไว้ในที่เปิดเผย เห็นได้ง่าย ณ
                สถานที่ที่ได้รับอนุญาต<br>
                
                &emsp;&emsp;&emsp;&ensp; 2. สามารถต่ออายุหนังสือรับรองล้วงหน้า 90 วันก่อนวันหมดอายุ
            </div>
        </div>
        <br>

    </div>

</body>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/request_preview/request_preview.js"></script>
</html>