<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../../css/fonts.css">

    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/bootstrap-4.4.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-4.4.1/bootstrap.min.css">

</head>
<style>
    a {
        text-decoration: none !important;
        font-weight: bold;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font-size: 12pt;
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .page {
        width: 310mm;
        min-height: 297mm;
        /* padding: 15mm; */
        padding-left: 15mm;
        padding-right: 15mm;
        padding-top: 3mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 1px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 1cm;
        border: 2px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {

        html,
        body {
            width: 210mm;
            height: 297mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }

        .align {
            position: absolute;
            bottom: 10mm;
        }
        .hideWhenPrint {
            display: none;
            text-align: center;
        }
    }
</style>

<body>
    <div class="hideWhenPrint" style="text-align: center;">
        <br>
        <button type="button" class="btn btn-outline-success btn-lg is-color"
            style="background-color: gray;color: white;cursor: pointer;"
            onclick="window.print()">พิมพ์</button>
        <br>
    </div>
    <div class="page">
        <div class="container" style="font-family: 'Sarabun';">
            <div style="text-align: center;">
                <br>
                <p id='sn_no' style="float: right;">แบบ อภ.2</p>
                <br>
                <br>
                <p><img src="../../img/ตราครุฑ.png" style="width: 130px;"></p>
                <b><h4 style="font-size: 7mm;" >ใบอนุญาตประกอบกิจการที่เป็นอันตรายต่อสุขภาพ</h4></b>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    เลขที่&emsp; <a id="number"></a>
                    <a style="float: right;padding-right: 2cm;">สำนักงาน เทศบาลเมืองแสนสุข</a>
                </div>
            </div>
            <br>
            <!-- 1. -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <p>อนุญาตให้&emsp;
                        <input type="checkbox" name="nametype" id="typeName1"> บุคคลธรรมดา <input type="checkbox" name="nametype"
                            id="typeName2"> นิติบุคคล</p>
                </div>
                <div class="col-4">ชื่อ &emsp;<a id="name"></a></div>
                <div class="col">อายุ &emsp;<a id="age"></a> ปี</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>สัญชาติ &emsp;<a id="nationality"></a></p>
                </div>
                <div class="col">
                    เลขบัตรประชาชนเลขที่ &emsp;<a id="nameId"></a>
                </div>
                <div class="col">อยู่บ้าน/สำนักงานเลขที่ &emsp;<a id="homeId"></a></div>
            </div>
            <div class="row">
                <div class="col"><p>ตรอก &emsp;<a id="trxk"></a></p></div>
                <div class="col">ซอย &emsp;<a id="sxy"></a></div>
                <div class="col">ถนน &emsp;<a id="road"></a></div>
                <div class="col">หมู่ที่ &emsp;<a id="moo"></a></div>
            </div>
            <div class="row">
                <div class="col">แขวง/ตำบล &emsp;<a id="subdistrict"></a></div>
                <div class="col">
                    <p>เขต/อำเภอ &emsp;<a id="district"></a></p>
                </div>
                <div class="col">จังหวัด &emsp;<a id="province"></a></div>
            </div>
            <div class="row">
                <div class="col-4"><p>โทรศัพท์ &emsp;<a id="phone"></a></p></div>
                <div class="col"><p>โทรสาร &emsp;<a id="fax"></a></p></div>
            </div>
            <!-- 2. -->
            <div class="row">
                
                <div class="col">
                    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;ประกอบกิจการที่เป็นอันตรายต่อสุขภาพประเภท &emsp;<a id="category"></a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>ลำดับที่ &emsp;<a id="no"></a></p>
                </div>
                <div class="col">ค่าธรรมเนียมฉบับละ &emsp;<a id="fee"></a>&emsp; บาท</div>
            </div>
            <div class="row">
                <div class="col">
                    <p>ลงวันที่ &emsp;<a id="day"></a></p>
                </div>
                <div class="col">เดือน &emsp;<a id="month"></a></div>
                <div class="col">พ.ศ. &emsp;<a id="year"></a></div>
                <div class="col-7">โดยใช้ชื่อสถานประกอบการว่า &emsp;<a id="nameShop"></a></div>
            </div>
            <div class="row">
                <div class="col">
                    <p>พื่นที่ประกอบการ &emsp;<a id="area"></a>&emsp; ตารางเมตร</p>
                </div>
                <div class="col">กำลังเครื่องจักร &emsp;<a id="power"></a>&emsp; แรงม้า</div>
                <div class="col">จำนวนคนงาน &emsp;<a id="people"></a>&emsp; คน</div>
            </div>
            <div class="row">
                <div class="col"><p>ตั้งอยู่ ณ เลขที่ &emsp;<a id="homeIdS"></a></p></div>
                <div class="col">ตรอก/ซอย &emsp;<a id="trxkS"></a></div>
                <div class="col">ถนน &emsp;<a id="roadS"></a></div>
                <div class="col">หมู่ที่ &emsp;<a id="mooS"></a></div>
            </div>
            <div class="row">
                <div class="col">แขวง/ตำบล &emsp;<a id="subdistrictS"></a></div>
                <div class="col">
                    <p>เขต/อำเภอ &emsp;<a id="districtS"></a></p>
                </div>
                <div class="col">จังหวัด &emsp;<a id="provinceS"></a></div>
            </div>
            <div class="row">
                <div class="col-4"><p>โทรศัพท์ &emsp;<a id="phoneS"></a></p></div>
                <div class="col"><p>โทรสาร &emsp;<a id="faxS"></a></p></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <p>(1) ผู้รับใบอนุญาตต้องปฏิบัติให้ถูกต้อง ครบถ้วน ตามหลักเกณฑ์วิธีการ และ
                        เงื่อนไขที่กำหนดในข้อกำหนดของท้องถิ่น</a></p>
                    <p>(2)
                        หากปรากฎในภายหลังว่าการประกอบการที่ได้รับอนุญาตนี้เป็นการขัดต่อข้อกฏหมายอื่นที่่เกี่ยวข้องโดยมิอาจแก้ไขได้
                        </a></p>
                    <p>&emsp;&ensp;เจ้าพนักงานท้องถิ่นอาจพิจารณาให้เพิกถอนการอนุญาตนี้ได้</p>
                    <p>(3) ผู้รับบใอนุญาตต้องปฏิบัติตามเงื่อนไขเฉพาะดังต่อไปนี้ คือ</p>
                    <p>&emsp;&ensp;3.1 )&emsp; <a id="note1"></a></p>
                    <p>&emsp;&ensp;3.2 )&emsp; <a id="note2"></a></p>
                    <p>&emsp;&ensp;3.3 )&emsp; <a id="note3"></a></p>
                    <p>&emsp;&ensp;3.4 )&emsp; <a id="note4"></a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p>ออกให้ ณ วันที่ &emsp;<a id="day2"></a></p>
                </div>
                <div class="col-2">เดือน &emsp;<a id="month2"></a></div>
                <div class="col-2">พ.ศ. &emsp;<a id="year2"></a></div>
                <div class="col-2">สิ้นสุดอายุวันที่ &emsp;<a id="day3"></a></div>
                <div class="col-2">เดือน &emsp;<a id="month3"></a></div>
                <div class="col-2">พ.ศ. &emsp;<a id="year3"></a></div>
            </div>
            <!-- ลงชื่อ -->
            <div class="row">
                <div class="col-6 text-center">
                    <br><br>
                    (ลงชื่อ)................................................................ผู้รับเงิน
                    <br>
                    ( <c id='name_money'>นายวรชาติ ศักดิ์วราสวัสดิ์</c> )
                    <br>

                </div>
                <div class="col text-center">
                    <br>
                    (ลงชื่อ) &emsp;<img id='s_nayo' 
                        style="width: 200px;">&emsp;&emsp;&emsp;
                    <br>
                    ( <c id='name_nayo'>นายวรชาติ ศักดิ์วราสวัสดิ์</c> )
                    <br>
                    <c id='position_nayo'>รองนายกเทศมนตรี ปฏิบัติราชการแทน</c>
                    <br>
                    <c>นายกเทศมนตรีเมืองแสนสุข</c>
                    <br>
                    เจ้าพนักงานท้องถิ่น
                </div>
            </div>
            <div class="align">
                <u><b>คำเตือน</b></u>&ensp;1. ต้องแสดงใบอนุญาตนี้ไว้ในที่เปิดเผย เห็นได้ง่าย ณ
                สถานที่ที่ได้รับอนุญาต<br>
                
                &emsp;&emsp;&emsp;&ensp; 2. สามารถต่ออายุหนังสือรับรองล้วงหน้า 90 วันก่อนวันหมดอายุ
            </div>
        </div>
    </div>

</body>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/request_preview/request_preview.js"></script>
</html>