<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <!-- <script src="../js/js22.js"></script> --> -->

    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="../../css/jquery-ui-1.12.1.custom/jquery-ui.css"> -->

    <!-- topmenu สำหรับหน้านี้เท่านั้น -->
    <!-- <link rel="stylesheet" href="../../css/topmenu.css"> -->

    <!-- icon -->
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>

<body>
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit disableds" onclick="addTEST()"><i class="fa fa-plus-square"> เพิ่ม</i></a>
        <a id="editMenu" onclick="editTEST()" class="exit disableds"><i class="fa fa-pencil-alt"> แก้ไข</i></a>
        <a id="saveMenu" onclick="insertTEST()" class="exit disableds"><i class="fa fa-save"> บันทึก</i></a>
        <a id="restoreMenu" onclick="restoreTEST()" class="exit disableds"><i class="fa fa-reply"> เรียกคืน</i></a>
        <a id="deleteMenu" onclick="deleteTEST()" class="exit disableds"><i class="fa fa-times"> ยกเลิก</i></a>
        <!-- <a><i class="fa fa-search"> ค้นหา</i></a> -->
        <a id="exitMenu" onclick="exitTEST()" class="exit" style="float: right;width: 17%;"><i
                class="fa fa-sign-out-alt">
                ออกจากระบบ</i></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:92%;">
        </a>
        <br>
        <button class="dropdown-btn"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../request/searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="../request/request_public_sell.html">- ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_more_correct.html">- ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../request/request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../request/request_crematory.html">- กิจการฌาปณสถาน</a>

        </div>
        <button class="dropdown-btn"><b>งานตรวจสอบ/อนุมัติ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>งานใบอนุญาต </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container ">
            <a href="../central/operator.html">- ข้อมูลผู้ประกอบการ</a>
            <a href="../central/02.html">- ข้อมูลการจดใบอนุญาต</a>
            <a href="../central/03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#">- บันทึกเรื่องร้องเรียน</a>
            <a href="#">- บันทึกคำร้อง</a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลระบบ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification select-active"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification dropdown-active" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest"
                    class="badge" style="margin-left:0.5vw;" >100000</span></a>
        </div>
    </div>
    <!-- เนื้อหา -->
    <form id="form">
        <fieldset style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <header class="w3-top2">
                    <h1 style="font-size:2.8vh;margin-left: 25px;padding: 2px;"> งานคำขอ</h1>
                </header>
                <a>
                    <div class="box">
                        <p class="font"></p>
                        <div class="tab">
                            <button type="button" class="tablinks" onclick="openCity(event, 'London')"><a>เหลือน้อยกว่า 30 วัน</a></button>
                            <button type="button" class="tablinks" onclick="openCity(event, 'Paris')"><a>หมดอายุไปแล้วน้อยกว่า 90 วัน</a></button>
                            <button type="button" class="tablinks" onclick="openCity(event, 'Tokyo')"><a>หมดอายุไปแล้วมากกว่า 90 วัน</a></button>
                        </div>

                        <div id="London" class="tabcontent" style="display: block;">
                            <div style="font-size: 1.7vh;">
                                <br>       
                                <table id="requestTable30day" class="table cursor-pointer table-hover tableresult">
                                    <thead>
                                        <tr class="is-color">
                                            <th onclick="sortTable(0,'requestTable30day','')">
                                                <p>ประเภทคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(1,'requestTable30day','')">
                                                <p>ชื่อ-นามสกุล <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(2,'requestTable30day','')">
                                                <p>ที่อยู่ <i class="fa fa-sort "></i>
                                                </p>
                                            </th>
                                            <th onclick="sortTable(3,'requestTable30day','date')">
                                                <p>วันที่เริ่มคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(4,'requestTable30day','')">
                                                <p>วันที่สิ้นสุดคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(5,'requestTable30day','dateExp')">
                                                <p>สถานะ <i class="fa fa-sort "></i></p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 23vw;  text-align: center;" >
                                        <tr onclick="toRequest(event)">
                                            <td>ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</td>
                                            <td>นาย สมชาย น้ำเงิน
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 ธันวาคม 2562</td>
                                            <td>20 ธันวาคม 2563</td>
                                            <td >2 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ชมพู
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 มกราคม 2562</td>
                                            <td>20 มกราคม 2563</td>
                                            <td>20 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย แดง
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 สิงหาคม 2562</td>
                                            <td>20 สิงหาคม 2563</td>
                                            <td>24 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</td>
                                            <td>นาย สมชาย เขียว
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 กันยายน 2562</td>
                                            <td>20 กันยายน 2563</td>
                                            <td>23 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 สิงหาคม 2562</td>
                                            <td>20 สิงหาคม 2563</td>
                                            <td>15 วัน</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                
                            </div>
                        </div>
                        <div id="Paris" class="tabcontent">
                            <div style="font-size: 1.7vh;">
                                <br>       
                                <table id="requestTable90day" class="table cursor-pointer table-hover tableresult">
                                    <thead>
                                        <tr class="" style="background-color: rgba(212, 65, 65, 0.863); color: rgb(255, 255, 255);">
                                            <th onclick="sortTable(0,'requestTable90day','')">
                                                <p>ประเภทคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(1,'requestTable90day','')">
                                                <p>ชื่อ-นามสกุล <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(2,'requestTable90day','')">
                                                <p>ที่อยู่ <i class="fa fa-sort "></i>
                                                </p>
                                            </th>
                                            <th onclick="sortTable(3,'requestTable90day','date')">
                                                <p>วันที่เริ่มคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(4,'requestTable90day','')">
                                                <p>วันที่สิ้นสุดคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(5,'requestTable90day','dateExp')">
                                                <p>สถานะ <i class="fa fa-sort "></i></p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 23vw;  text-align: center;" >
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 มกราคม 2562</td>
                                            <td>20 มกราคม 2563</td>
                                            <td >หมดอายุ 50 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 ตุลาคม 2562</td>
                                            <td>20 ตุลาคม 2563</td>
                                            <td>หมดอายุ 60 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 สิงหาคม 2562</td>
                                            <td>20 สิงหาคม 2563</td>
                                            <td>หมดอายุ 41 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 ตุลาคม 2562</td>
                                            <td>20 ตุลาคม 2563</td>
                                            <td>หมดอายุ 75 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 สิงหาคม 2562</td>
                                            <td>20 สิงหาคม 2563</td>
                                            <td>หมดอายุ 85 วัน</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                
                            </div>
                        </div>

                        <div id="Tokyo" class="tabcontent">
                            <div style="font-size: 1.7vh;">
                                <br>       
                                <table id="requestTableM90dy" class="table cursor-pointer table-hover tableresult">
                                    <thead>
                                        <tr class="" style="background-color: rgba(212, 65, 65, 0.863); color: rgb(255, 255, 255);">
                                            <th onclick="sortTable(0,'requestTableM90dy','')">
                                                <p>ประเภทคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(1,'requestTableM90dy','')">
                                                <p>ชื่อ-นามสกุล <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(2,'requestTableM90dy','')">
                                                <p>ที่อยู่ <i class="fa fa-sort "></i>
                                                </p>
                                            </th>
                                            <th onclick="sortTable(3,'requestTableM90dy','date')">
                                                <p>วันที่เริ่มคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(4,'requestTableM90dy','')">
                                                <p>วันที่สิ้นสุดคำขอ <i class="fa fa-sort "></i></p>
                                            </th>
                                            <th onclick="sortTable(5,'requestTableM90dy','dateExp')">
                                                <p>สถานะ <i class="fa fa-sort "></i></p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="height: 23vw;  text-align: center;" >
                                        <tr onclick="toRequest(event)">
                                            <td>ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 มิถุนายน 2562</td>
                                            <td>20 มิถุนายน 2563</td>
                                            <td >หมดอายุ 100 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 พฤษภาคม 2562</td>
                                            <td>20 พฤษภาคม 2563</td>
                                            <td>หมดอายุ 10000 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>กิจการที่เป็นอันตรายต่อสุขภาพ</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 มกราคม 2562</td>
                                            <td>20 มกราคม 2563</td>
                                            <td>หมดอายุ 105 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 กรกฎาคม 2562</td>
                                            <td>20 กรกฎาคม 2563</td>
                                            <td>หมดอายุ 365 วัน</td>
                                        </tr>
                                        <tr onclick="toRequest(event)">
                                            <td>ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</td>
                                            <td>นาย สมชาย ใจดี
                                            </td>
                                            <td>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</td>
                                            <td>20 กันยายน 2562</td>
                                            <td>20 กันยายน 2563</td>
                                            <td>หมดอายุ 9000 วัน</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                
                            </div>
                        </div>

                    </div>
                </a>
            </div>

        </fieldset>
    </form>


</body>

<script src="../../js/operator.js/operator.js"></script>
<script src="../../js/operator.js/menuOperator.js"></script>
<script src="../../js/disable.js"></script>
<script src="../../js/sweet2.js"></script>
<script src="../../js/jquery.js"></script>
<!-- <!-- <script src="../../js/jquery-ui.js"></script> --> -->
<script src="../../js/js22.js"></script>
<!-- <script src="../../js/dateth.js"></script> -->
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/utilities.js"></script>

</html>