<!DOCTYPE html>
<html lang="en">

<head>
    <title>ข้อมูลผู้ประกอบการ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- topmenu สำหรับหน้านี้เท่านั้น -->
    <link rel="stylesheet" href="../../css/topmenu.css">

    <!-- icon -->
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">



    <!-- เรียกไลบารี่สร้างปฎิทิน  -->
    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/date/datetimepicker.full.js"></script> -->
    <script src="../../js/service/date/dateth.js"></script>
    <link rel="stylesheet" href="../../css/date.css">

    <link rel="stylesheet" href="../../js/service/jquery/jquery.js">
    <link href="../../css/jquery.contextMenu.css" rel="stylesheet">
</head>

<body>
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit  disableds"><i class="fa fa-plus-square">
                <span>เพิ่ม</span></i></a>
        <a id="editMenu" class="exit disableds"><i class="fa fa-pencil-alt">
                <span>แก้ไข</span></i></a>
        <a id="saveMenu" class="exit disableds"><i class="fa fa-save">
                <span>บันทึก</span></i></a>
        <a id="restoreMenu" class="exit disableds"><i class="fa fa-reply">
                <span>เรียกคืน</span></i></a>
        <a id="deleteMenu" class="exit disableds"><i class="fa fa-times">
                <span>ยกเลิก</span></i></a>
        <!-- <a><i class="fa fa-search"> ค้นหา</i></a> -->
        <a id='searchMenu' class="exit" onclick="searchOparator()"><i class="fa fa-search"> <span>ค้นหา</span></i></a>
        <a id="exitMenu" onclick="exitPage()" class="exit" style="float: right;width: 17%;"><i
                class="fa fa-sign-out-alt">
                <span>ออกจากระบบ</span></i></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:92%;">
        </a>
        <br>
        <button class="dropdown-btn"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../request/searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="../request/request_public_sell.html">- ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_more_correct.html">- ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../request/request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../request/request_crematory.html">- กิจการฌาปณสถาน</a>

        </div>
        <button class="dropdown-btn"><b>ระบบต่ออายุงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../renew/renew_public_sell.html">- คำขอต่อใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_public_hawk.html">- คำขอต่อใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../renew/renew_area_more_sell.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_more_correct.html">- คำขอต่อใบอนุญาตจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_area_less_sell.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../renew/renew_area_less_correct.html">- คำขอต่อหนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../renew/renew_market.html">- คำขอต่อใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../renew/renew_health_danger.html">- คำขอต่อกิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../renew/renew_crematory.html" >- คำขอต่อกิจการฌาปณสถาน</a>
        </div>
        <button class="dropdown-btn select-active "><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container ">
            <a href="operator.html">- ข้อมูลผู้ประกอบการ</a>
            <a href="02.html" class='dropdown-active '>- ข้อมูลการจดใบอนุญาต</a>
            <a href="03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../utilities/petition.html">- บันทึกเรื่องร้องเรียน</a>
        </div>
        <button class="dropdown-btn" id="adminna" style="display: none;"><b>ข้อมูลระบบ </b><i
                class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest2"
                    class="badge" style="margin-left:0.5vw;">100000</span></a>
        </div>
        <br><br>
        <button class="dropdown-btn"><a href="../notfication/request copy.html" style="color: red;"><b>คำขอหมดอายุเกิน 3
                    ปี </b></a>
            <!-- <i class="fa fa-caret-down"></i> -->
        </button>
    </div>
    <!-- เนื้อหา -->
    <form id="form">
        <fieldset id="disable" style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <header class="w3-top2">
                    <h1 style="font-size:2.8vh;margin-left: 25px;padding: 2px;"> ผู้ประกอบการ</h1>
                    <button type='button' onclick="swicthDisplay()"
                        style="position: absolute; bottom:0.5vw;right: 1vw; width: 3vw; ">
                        <i id='show_item' class="fa fa-angle-double-down"></i>
                        <i id='hide_item' class="fa fa-angle-double-up" style="display: none;"></i>
                    </button>
                </header>
                <a>
                    <div id='full_detail_data' class="box notification" style="display: none;">
                        <!-- row 1 -->
                        <fieldset disabled style="border: 0;padding: 0;margin: 0;" class="notification">
                            <div style="display: flex;padding: 0.5vw;">
                                <div style="width: 59vw;margin-top: 0.5vw;">
                                    <a style="margin-left: 4vw;">ประเภท :</a>
                                    <select id="typeUser" name="" style="width: 11vw;"
                                        onchange="changeOption(this.value)">
                                        <option value="บุคคลธรรมดา" selected="selected">บุคคลธรรมดา</option>
                                        <option value="นิติบุคคล">นิติบุคคล</option>
                                    </select>
                                    <!-- บุคคลธรรมดา -->
                                    <span id="perTy1">
                                        <a id='nationalityTopic' style="margin-left:1vw;">สัญชาติ :</a>
                                        <input list='list-nationality' id="nationality" style="width: 11vw"
                                            maxlength="60" placeholder="-"
                                            onkeyup="document.getElementById('nationality').classList.remove('alertInput')"
                                            onchange="document.getElementById('nationality').classList.remove('alertInput')">
                                        <datalist id="list-nationality">
                                            <option value="" hidden>เลือก...</option>
                                            <option value="ไทย">ไทย</option>
                                            <option value="อเมริกา">อเมริกา</option>
                                            <option value="จีน">จีน</option>
                                        </datalist>
                                        </input>
                                        <a id='raceTopic' style="margin-left: 1vw;">เชื้อชาติ :</a>
                                        <input list='list-race' id="race" style="width: 11vw;" maxlength="60"
                                            placeholder="-"
                                            onkeyup="document.getElementById('race').classList.remove('alertInput')"
                                            onchange="document.getElementById('race').classList.remove('alertInput')">
                                        <datalist id="list-race">
                                            <option value="" hidden>เลือก...</option>
                                            <option value="ไทย">ไทย</option>
                                            <option value="อเมริกา">อเมริกา</option>
                                            <option value="จีน">จีน</option>
                                        </datalist>
                                        </input>
                                        <br>
                                        <!-- row 2 -->
                                        <a id='titleNameTopic' style="margin-left: 2.15vw;">คำนำหน้าชื่อ :</a>
                                        <input list='list-titles' id="title" style="width: 11vw;" maxlength="60"
                                            placeholder="-"
                                            onchange="document.getElementById('title').classList.remove('alertInput')">
                                        <datalist id="list-titles">
                                            <option value="" hidden>เลือก...</option>
                                            <option value="นาย">นาย</option>
                                            <option value="นาง">นาง</option>
                                            <option value="นางสาว">นางสาว</option>
                                        </datalist>
                                        </input>
                                        <a id='nameUserTopic' style="margin-left: 2.15vw;">ชื่อ <font color="red">*
                                            </font> :</a>
                                        <input type="text" id="nameUser" name="" placeholder="" style="width: 11vw"
                                            maxlength="70"
                                            onkeyup="document.getElementById('nameUser').classList.remove('alertInput')">
                                        <a id="surTopic" style="margin-left: 0.2vw;">นามสกุล <font color="red">*
                                            </font>
                                            :</a>

                                        <input type="text" id="surnameUser" name="" placeholder="" style="width: 11vw"
                                            maxlength="70"
                                            onkeyup="document.getElementById('surnameUser').classList.remove('alertInput')">
                                        <br>
                                        <!-- row 3 -->
                                        <a style="margin-left: 1.25vw;">เลขประจำตัว <font color="red">*</font> :</a>
                                        <input type="text" id="id" name="" placeholder="" style="width: 11vw"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                            maxlength="13" onkeyup="checkId(this.value, 'PERSONAL') 
                                        document.getElementById('id').classList.remove('alertInput')" ">
                                    <a style=" margin-left:0.25vw;">ออกเมื่อ <font color="red">*</font> :
                </a>
                <input type="text" id="datepicker1" placeholder="" style="width: 10.8vw" maxlength="10"
                    onchange="document.getElementById('datepicker1').classList.remove('alertInput')" readonly>
                <a id='dateExpTopic' style="margin-left: 0.3vw;">หมดอายุ <font color="red">*</font> :</a>
                <input type="text" id="datepicker2" placeholder="" style="width: 7vw" maxlength="10"
                    onchange="document.getElementById('datepicker2').classList.remove('alertInput')">
                <input id='life-id' type="radio" style="border: 0px;width:  1em;height: 1em;" onclick="onClickRadio()">
                <a>ตลอดชีพ</a>
                <br>

                <br>
                <!-- row4 -->
                <a id='dateBTopic' style="margin-left: 3.1vw;">เกิดวันที่ <font color="red">*</font> :</a>
                <input type="text" id="datepicker3" placeholder="" style="width: 11vw;" maxlength="10" readonly
                    onchange="document.getElementById('datepicker3').classList.remove('alertInput')">

                    <a id='phoneTopic' style="margin-left: 0.1vw;">โทรศัพท์ <font color="red">*</font> :</a>
                    <input type="text" style="width: 6.5vw" id="phone"
                        oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="10" onchange="document.getElementById('phone').classList.remove('alertInput')"
                        onkeyup="checkPhone(this.value,'phone','phone_more')">
                    <a style="margin-left: .1vw;">ต่อ</a>
                    <input type="text" id="phone_more" style="width: 4vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="4">
                   
                <a style="margin-left: .2vw;">โทรสาร :</a>
                <input type="text" id="fax" style="width: 11vw"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="14"
                    placeholder="-">
                <br>
                <!-- row5 -->


                <a style="margin-left: 2vw;">อยู่บ้านเลขที่ :</a>
                <input type="text" id="homeId" style="width: 11vw" maxlength="15" placeholder="-">
                <a style="margin-left: 2.3vw;">หมู่ที่ :</a>
                <input type="int" id="moo" style="width: 11vw" maxlength="5" placeholder="-">
                <a style="margin-left: 2.05vw;">ตรอก :</a>
                <input type="text" id="trxk" style="width: 11vw" maxlength="50" placeholder="-">
                <!-- row 6 -->
                <br>
                <a style="margin-left: 5.15vw;">ซอย :</a>
                <input type="text" id="sxy" style="width: 11vw;" maxlength="50" placeholder="-">
                <a style="margin-left: 1.6vw;">อาคาร :</a>
                <input type="text" id="building" style="width: 11vw" maxlength="100" placeholder="-">
                <a style="margin-left: 2.45vw;">ถนน :</a>
                <input type="text" id="road" style="width: 11vw" maxlength="70" placeholder="-">
                <!-- row 7 -->
                <br>
                <a style="margin-left: 4.3vw;">จังหวัด :</a>
                <select id="province" style="width: 11vw">
                </select>
                <a style="margin-left: 1.6vw;">อำเภอ :</a>
                <select id="district" style="width: 11vw">
                </select>
                <a style="margin-left: 2vw;">ตำบล :</a>
                <select id="subdistrict" style="width: 11vw">
                </select>
                <br>
                <a style="margin-left: 2.1vw;">อัพเดทล่าสุด :</a>
                <input type="text" id='last-update' style="width: 11vw;" readonly disabled>
                </span>

                <!-- นิติบุคคล -->
                <span id="perTy2" style="display: none;">
                    <a style="margin-left: 2.2vw;">ชื่อ <font color="red">*</font> :</a>
                    <input type="text" id="company-nameUser" name="" placeholder="" style="width: 27.5vw" maxlength="70"
                        onchange="document.getElementById('company-nameUser').classList.remove('alertInput')">
                    <br>
                    <!-- row 3 -->
                    <a style="margin-left: 1.8vw;">เลขทะเบียน <font color="red">*</font> :</a>
                    <input type="text" id="company-id" name="" placeholder="" style="width: 11vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="13" onkeyup="checkId(this.value, '')"
                        onchange="document.getElementById('company-id').classList.remove('alertInput')">
                    <a style="margin-left:0.3vw;">ออกเมื่อ <font color="red">*</font> :</a>
                    <input type="text" id="datepicker4" placeholder="" style="width: 11vw" maxlength="10" readonly
                        onchange="document.getElementById('datepicker4').classList.remove('alertInput')">
                    <br>
                    <!-- row4 -->
                    <a style="margin-left: 3.05vw;">โทรศัพท์ <font color="red">*</font> :</a>
                    <input type="text" style="width: 6.5vw" id="company-phone"
                        oninput="this.value = this.value.replace(/[^0-9\-]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="10"
                        onchange="document.getElementById('company-phone').classList.remove('alertInput')"
                        onkeyup="checkPhone(this.value,'company-phone', 'company-phone-more')"
                        >
                        <a style="margin-left: .5vw;">ต่อ :</a>
                    <input type="text" id="company-phone-more" style="width: 4vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="4">
                    <a style="margin-left: .2vw;">โทรสาร :</a>
                    <input type="text" id="company-fax" style="width: 11vw"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="14" placeholder="-">
                    <br>
                    <!-- row5 -->
                    <a style="margin-left: 2.1vw;">อยู่บ้านเลขที่ :</a>
                    <input type="text" id="company-homeId" style="width: 11vw" maxlength="15" placeholder="-">
                    <a style="margin-left: 2.3vw;">หมู่ที่ :</a>
                    <input type="int" id="company-moo" style="width: 11vw" maxlength="5" placeholder="-">
                    <a style="margin-left: 2.05vw;">ตรอก :</a>
                    <input type="text" id="company-trxk" style="width: 11vw" maxlength="50" placeholder="-">
                    <!-- row 6 -->
                    <br>
                    <a style="margin-left: 5.4vw;">ซอย :</a>
                    <input type="text" id="company-sxy" style="width: 11vw;" maxlength="50" placeholder="-">
                    <a style="margin-left: 1.6vw;">อาคาร :</a>
                    <input type="text" id="company-building" style="width: 11vw" maxlength="100" placeholder="-">
                    <a style="margin-left: 2.45vw;">ถนน :</a>
                    <input type="text" id="company-road" style="width: 11vw" maxlength="70" placeholder="-">
                    <!-- row 7 -->
                    <br>
                    <a style="margin-left: 4.4vw;">จังหวัด :</a>
                    <select id="wProvince" style="width: 11vw">
                    </select>
                    <a style="margin-left: 1.6vw;">อำเภอ :</a>
                    <select id="wDistrict" style="width: 11vw">
                    </select>
                    <a style="margin-left: 2vw;">ตำบล :</a>
                    <select id="wSubdistrict" style="width: 11vw">
                    </select>
                    <br>
                    <a style="margin-left: 2.1vw;">อัพเดทล่าสุด :</a>
                    <input type="text" id='company-last-update' style="width: 11vw;" readonly disabled>
                </span>
            </div>
            <div id='imgBoxUpload' style="width: 20vw; ;text-align: center; display: block; padding: 1vw;">
                <a id="imgText" style="font-size: 1.5vw;"> รูปภาพภาพผู้ประกอบการ</a>
                <br><br>
                <div>
                    <img id="operatorImage" class="rounded" src="../../img/userProfile.png"
                        style="width: 18vw;height: 18vw;">
                </div>
                <br>
                <div id="imgButton">
                    <input style='display: none;' type="file" id="uploadFile" onchange="uploadImage(event)"
                        accept="image/*">

                    <button type="button" class="addimage" onclick="buttonImage()" style="width:5vw ">รูปภาพ</button>

                    <button type="button" class="delete" id="cancelImage" style="width:5vw;margin-left: 0.5vw;"
                        onclick="deleteImageOne()"> ลบ </button>

                    <button type="button" id="webcam" style="width:5.5vw;margin-left: 0.5vw;" disabled>ถ่ายภาพ
                    </button>
                    <br>
                </div>

            </div>
            </div>
        </fieldset>
        </div>
        <div id='shot_detail_data' class="box" style="height: 10vw;">
            <div style="width: 18% ;height: 30%; float: left;padding-left: 3vw;margin-top: 0.3vw;">
                <img id="operatorImage_shot" class="rounded" src="../../img/userProfile.png"
                    style="width: 8vw;height: 8vw;border-radius: 5vw; border-style: solid; border-color: rgba(211, 208, 208, 0.891);">
            </div>
            <div style="width: 100%;margin-top: 0.3vw;" class="notification">

                <a style="margin-left: 4.5vw;">
                    ชื่อ :
                    <input type="text" id='shot_name' style="width: 20vw;" disabled></input>
                    <br>
                </a>
                <a id='title_shot_personal_id' style="margin-left: 15vw;">
                    เลขประจำตัว :
                </a>
                <input type="text" id='shot_personal_id' disabled></input>
            </div>
        </div>
        <br>
        <div class="box">
            <a>
                <p class="font">ประวัติการออกใบอนุญาต</p>
                <a>ปีงบประมาณ : <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        maxlength="4"></a>
                <a>ประเภทใบอนุญาต :
                    <input list="brow" id="" name="" style="width: 30%;">
                    <datalist id="brow">
                        <option value="ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ">
                            ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ
                        </option>
                        <option value="ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ">
                            ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ
                        </option>
                        <option value="ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร">ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร
                        </option>
                        <option value="ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร">ใบอนุญาตจัดตั้งสถานที่สะสมอาหาร
                        </option>
                        <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร">
                            หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</option>
                        <option value="หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร">
                            หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</option>
                        <option value="ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน">ใบอนุญาติให้ใช้สถานที่เป็นตลาดเอกชน
                        </option>
                        <option value="กิจการที่เป็นอันตรายต่อสุขภาพ">กิจการที่เป็นอันตรายต่อสุขภาพ</option>
                        <option value="กิจการฌาปณสถาน">กิจการฌาปณสถาน</option>
                    </datalist>
                    <button type="button" class="fa fa-search" style="margin-left: 1vw;"></button></a>
                <button type="button" id='report_open' style="float: right;border-radius: 0.3vw;" class='fa fa-file'
                    onclick="openPageReport()" disabled> ร้องเรียน</button>
                <div class="tab" style="height: 3.5vw;width: 100%;">

                    <button type="button" class="tablinks" onclick="onClickStatustab('wait',event, 'wait'); "
                        style="height: 100%;"><a>รออนุมัติ</a></button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('approval',event, 'approval');"
                        style="height: 100%;"><a>อนุมัติ</a></button>

                    <button id="defaultOpen" type="button" class="tablinks" style="height: 100%;"
                        onclick="onClickStatustab('active',event, 'available');"><a>ปกติ</a>
                    </button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('transfer', event, 'transfer')"
                        style="height: 100%;"><a>โอน</a></button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('expire', event, 'expire')"
                        style="height: 100%;"><a>หมดอายุ</a></button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('cancel', event, 'cancel')"
                        style="height: 100%;"><a>ยกเลิก</a></button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('report', event, 'report')"
                        style="height: 100%;"><a>ร้องเรียน</a></button>
                    <button type="button" class="tablinks" onclick="onClickStatustab('ban', event, 'ban')"
                        style="height: 100%;"><a>พักใบอนุญาต</a></button>
                </div>
                <!-- พักใบอนุญาต -->
                <div id="ban" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติร้องเรียน</a>
                        <br><br>
                        <table id="ban_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'ban_table','')">
                                        <p>เลขที่คำสั่ง <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'ban_table','')">
                                        <p>เลขที่ใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'ban_table','date')">
                                        <p>วันที่เริ่มพัก <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'ban_table','date')">
                                        <p>วันที่พักสุดท้าย <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;height: 17vw;">
                                <tr onclick="viewPageReport(this)">
                                    <td>824</td>
                                    <td>A00001/2563</td>
                                    <td>13 มกราคม 2563</td>
                                    <td>30 มกราคม 2563</td>
                                </tr>
                                <tr onclick="viewPageReport(this)">
                                    <td>718</td>
                                    <td>C00001/2563</td>
                                    <td>13 มีนาคม 2563</td>
                                    <td>30 มกราคม 2564</td>
                                </tr>
                            </tbody>
                            <table>
                            </table>
                        </table>
                    </div>

                </div>
                <!-- ร้องเรียน -->
                <div id="report" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติร้องเรียน</a>
                        <br><br>
                        <table id="report_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'report_table','')">
                                        <p>เลขที่คำสั่ง <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'report_table','')">
                                        <p>ประเภทเรื่องร้องเรียน <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'report_table','')">
                                        <p>วันที่ยื่น <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;height: 17vw;">
                                <tr onclick="viewPageReport(this)">
                                    <td>104</td>
                                    <td>ขยะมูลฝอย/สิ่งปฏิกูล</td>
                                    <td>13 มกราคม 2563</td>
                                </tr>
                                <tr onclick="viewPageReport(this)">
                                    <td>384</td>
                                    <td>เสียงดัง</td>
                                    <td>25 มกราคม 2563</td>
                                </tr>
                            </tbody>
                            <table>
                            </table>
                        </table>
                    </div>

                </div>
                <!-- ปกติ -->
                <div id="available" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="active_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'active_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'active_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'active_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'active_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'active_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'active_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                        <br>
                        <a>ประวัติผู้ช่วย</a> 
                        <br><br>
                        <div style="font-size: 1.7vh;">
                            <table id="active_assistant_table" class="table cursor-pointer table-hover tableresult">
                                <thead>
                                    <tr
                                        style="height:auto; background-color: rgba(40, 131, 250, 0.876); color: rgb(255, 255, 255);">
                                        <th onclick="sortTable(0,'active_assistant_table','')">
                                            <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(1,'active_assistant_table','')">
                                            <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(2,'active_assistant_table','')">
                                            <p>เลขที่ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(3,'active_assistant_table','')">
                                            <p>เจ้าของใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(4,'active_assistant_table','date')">
                                            <p>วันที่ออกใบ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(5,'active_assistant_table','date')">
                                            <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(6,'active_assistant_table','dateExp')">
                                            <p>สถานะ <i class="fa fa-sort "></i></p>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- อนุมัติ -->
                <div id="approval" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="approval_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'approval_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'approval_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'approval_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'approval_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'approval_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'approval_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                        <br>
                        <a>ประวัติผู้ช่วย</a>
                        <br><br>
                        <div style="font-size: 1.7vh;">
                            <table id="approval_assistant_table" class="table cursor-pointer table-hover tableresult">
                                <thead>
                                    <tr class=""
                                        style="height:auto; background-color: rgba(40, 131, 250, 0.876); color: rgb(255, 255, 255);">
                                        <th onclick="sortTable(0,'approval_assistant_table','')">
                                            <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(1,'approval_assistant_table','')">
                                            <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(2,'approval_assistant_table','')">
                                            <p>เลขที่ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(3,'approval_assistant_table','')">
                                            <p>เจ้าของใบอนุญาต<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(4,'approval_assistant_table','date')">
                                            <p>วันที่ออกใบ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(5,'approval_assistant_table','date')">
                                            <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(6,'approval_assistant_table','dateExp')">
                                            <p>สถานะ <i class="fa fa-sort "></i></p>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- โอน -->
                <div id="transfer" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="transfer_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'transfer_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'transfer_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'transfer_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'transfer_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'transfer_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'transfer_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <!-- หมดอายุ -->
                <div id="expire" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="date_exp_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'date_exp_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'date_exp_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'date_exp_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'date_exp_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'date_exp_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'date_exp_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                        <br>
                        <a>ประวัติผู้ช่วย</a>
                        <br><br>
                        <div style="font-size: 1.7vh;">
                            <table id="expire_assistant_table" class="table cursor-pointer table-hover tableresult">
                                <thead>
                                    <tr class=""
                                        style="height:auto; background-color: rgba(40, 131, 250, 0.876); color: rgb(255, 255, 255);">
                                        <th onclick="sortTable(0,'expire_assistant_table','')">
                                            <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(1,'expire_assistant_table','')">
                                            <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(2,'expire_assistant_table','')">
                                            <p>เลขที่ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(3,'expire_assistant_table','')">
                                            <p>เจ้าของใบอนุญาต<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(4,'expire_assistant_table','date')">
                                            <p>วันที่ออกใบ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(5,'expire_assistant_table','date')">
                                            <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(6,'expire_assistant_table','dateExp')">
                                            <p>สถานะ <i class="fa fa-sort "></i></p>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- รออนุมัติ -->
                <div id="wait" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="wait_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'wait_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'wait_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'wait_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'wait_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'wait_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'wait_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                        <br>
                        <a>ประวัติผู้ช่วย</a>
                        <br><br>
                        <div style="font-size: 1.7vh;">
                            <table id="wait_assistant_table" class="table cursor-pointer table-hover tableresult">
                                <thead>
                                    <tr class=""
                                        style="height:auto; background-color: rgba(40, 131, 250, 0.876); color: rgb(255, 255, 255);">
                                        <th onclick="sortTable(0,'wait_assistant_table','')">
                                            <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(1,'wait_assistant_table','')">
                                            <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(2,'wait_assistant_table','')">
                                            <p>เลขที่ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(3,'wait_assistant_table','')">
                                            <p>เจ้าของใบอนุญาต<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(4,'wait_assistant_table','date')">
                                            <p>วันที่ออกใบ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(5,'wait_assistant_table','date')">
                                            <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(6,'wait_assistant_table','dateExp')">
                                            <p>สถานะ <i class="fa fa-sort "></i></p>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ยกเลิก -->
                <div id="cancel" class="tabcontent">
                    <div style="font-size: 1.7vh;">
                        <br>
                        <a>ประวัติใบอนุญาต</a>
                        <br><br>
                        <table id="cancel_table" class="table cursor-pointer table-hover tableresult">
                            <thead>
                                <tr class="is-color">
                                    <th onclick="sortTable(0,'cancel_table','')">
                                        <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(1,'cancel_table','')">
                                        <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(2,'cancel_table','')">
                                        <p>เลขที่ <i class="fa fa-sort "></i>
                                        </p>
                                    </th>
                                    <th onclick="sortTable(3,'cancel_table','date')">
                                        <p>วันที่เริ่ม <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(4,'cancel_table','date')">
                                        <p>วันที่หมดอายุ <i class="fa fa-sort "></i></p>
                                    </th>
                                    <th onclick="sortTable(5,'cancel_table','dateExp')">
                                        <p>สถานะ <i class="fa fa-sort "></i></p>
                                    </th>
                                </tr>
                            </thead>

                        </table>
                        <br>

                        <a>ประวัติผู้ช่วย</a>
                        <br><br>
                        <div style="font-size: 1.7vh;">
                            <table id="cancel_assistant_table" class="table cursor-pointer table-hover tableresult">
                                <thead>
                                    <tr class=""
                                        style="height:auto; background-color: rgba(40, 131, 250, 0.876); color: rgb(255, 255, 255);">
                                        <th onclick="sortTable(0,'cancel_assistant_table','')">
                                            <p>ปีงบประมาณ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(1,'cancel_assistant_table','')">
                                            <p>ประเภทใบอนุญาต <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(2,'cancel_assistant_table','')">
                                            <p>เลขที่ <i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(3,'cancel_assistant_table','')">
                                            <p> เจ้าของใบอนุญาต<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(4,'cancel_assistant_table','date')">
                                            <p> วันที่ออกใบ<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(5,'cancel_assistant_table','date')">
                                            <p> วันที่หมดอายุ<i class="fa fa-sort "></i></p>
                                        </th>
                                        <th onclick="sortTable(6,'cancel_assistant_table','dateExp')">
                                            <p>สถานะ <i class="fa fa-sort "></i></p>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </a>
        </a>
        </div>

        </fieldset>

    </form>


</body>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="../../js/service/utilities.js"></script>

<!-- เอาไว้เช็คว่า user login หรือเปล่า --> -->
<script src="../../js/service/checkUserLogin.js"></script>
<script src="../../js/service/address/twoAddress.js"></script>

<script src="../../js/operator-manage/manageOperator.js"></script>
<script src="../../js/operator-manage/manageTable.js"></script>

<script src="../../js/service/sideMenu.js"></script>

<!-- right click  -->
<script src="../../js/service/clickRight/jquery.contextMenu.js"></script>
<script src="../../js/service/clickRight/jquery.ui.position.min.js"></script>
<script>
    runForm()
</script>

</html>