<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="../js/js22.js"></script> -->

    <link rel="stylesheet" href="../../css/css2.css">
    <link href="../../css/fonts.css" rel="stylesheet">

    <!-- topmenu สำหรับหน้านี้เท่านั้น -->
    <link rel="stylesheet" href="../../css/topmenu.css">

    <!-- icon -->
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">

    <!-- เรียกไลบารี่สร้างปฎิทิน  -->
    <link rel="stylesheet" href="../../css/jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="https://รับเขียนโปรแกรม.net/jquery_datepicker_thai/jquery-ui.js"></script>
    <script src="../../js/dateth.js"></script>
</head>

<body>
    <!-- เมนูด้านบน -->
    <div class="w3-top icon-bar">
        <a id="addMenu" class="exit " onclick="addTEST()"><i class="fa fa-plus-square"> เพิ่ม</i></a>
        <a id="editMenu" onclick="editTEST()" class="exit disableds"><i class="fa fa-pencil-alt"> แก้ไข</i></a>
        <a id="saveMenu" onclick="insertTEST()" class="exit disableds"><i class="fa fa-save"> บันทึก</i></a>
        <a id="restoreMenu" onclick="restoreTEST()" class="exit disableds"><i class="fa fa-reply"> เรียกคืน</i></a>
        <a id="deleteMenu" onclick="deleteTEST()" class="exit disableds"><i class="fa fa-times"> ยกเลิก</i></a>
        <a id='searchMenu' class="exit"><i class="fa fa-search" onclick="searchOparator()"> ค้นหา</i></a>
        <a id="exitMenu" onclick="exitTEST()" class="exit" style="float: right;width: 17%;"><i
                class="fa fa-sign-out-alt">
                ออกจากระบบ</i></a>
    </div>
    <!-- เมนูด้านข้าง -->
    <div class="sidenav">
        <a href="/" style="margin-top: 15%;">
            <img src="../../img/img1.jpg" style="width:92%;">
        </a>
        <br>
        <button class="dropdown-btn"><b>ระบบงานคำขอ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../request/searchRequest.html">- ค้นหา/แก้ไข</a>
            <a href="../request/request_public_sell.html">- ใบอนุญาตจำหน่ายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_public_hawk.html">- ใบอนุญาตเร่ขายสินค้าในที่หรือทางสาธารณะ</a>
            <a href="../request/request_area_more_sell.html">- ใบอนุญาตจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_more_correct.html">- ใบอนุญาตจัดจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_area_less_sell.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่จำหน่ายอาหาร</a>
            <a href="../request/request_area_less_correct.html">- หนังสือรับรองการแจ้งจัดตั้งสถานที่สะสมอาหาร</a>
            <a href="../request/request_market.html">- ใบอนุญาตให้ใช้สถานที่เป็นตลาดเอกชน</a>
            <a href="../request/request_health_danger.html">-
                กิจการที่เป็นอันตรายต่อสุขภาพ</a>
            <a href="../request/request_crematory.html">- กิจการฌาปณสถาน</a>

        </div>
        <button class="dropdown-btn"><b>งานตรวจสอบ/อนุมัติ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>งานใบอนุญาต </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <button class="dropdown-btn select-active "><b>ข้อมูลส่วนกลาง </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container " >
            <a href="operator.html" class='dropdown-active '>- ข้อมูลผู้ประกอบการ</a>
            <a href="02.html">- ข้อมูลการจดใบอนุญาต</a>
            <a href="03.html">- โอนใบอนุญาต</a>
        </div>
        <button class="dropdown-btn"><b>งานร้องเรียน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#">- บันทึกเรื่องร้องเรียน</a>
            <a href="#">- บันทึกคำร้อง</a>
        </div>
        <button class="dropdown-btn"><b>ข้อมูลระบบ </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="#"></a>
        </div>
        <button class="dropdown-btn"><b>รายงาน </b><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="../report/report_crematory.html">- ตามคำขอ</a>
            <a href="../report/report_summary.html">- สรุป</a>
        </div>
        <button class="dropdown-btn notification"><b>แจ้งเตือน </b><span id="notficationRequest" class="badge"
                style="margin-left:0.5vw;">100000</span><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a class="notification" href="../notfication/request.html">- งานคำขอ<span id="notficationRequest"
                    class="badge" style="margin-left:0.5vw;">100000</span></a>
        </div>
    </div>
    <!-- เนื้อหา -->
    <form id="form">
        <fieldset disabled id="disable" style="border: 0;padding: 0;margin: 0;">
            <div class="main">
                <header class="w3-top2">
                    <h1 style="font-size:2.8vh;margin-left: 25px;padding: 2px;"> ผู้ประกอบการ</h1>
                </header>
                <a>
                    <div class="box">
                        <!-- row 1 -->
                        <div style="display: flex;padding: 0.5vw;">
                            <div style="width: 59vw;margin-top: 0.5vw;">
                                <a style="margin-left: 4vw;">ประเภท :</a>
                                <select id="typeUser" name="" style="width: 11vw;">
                                    <option value="none" hidden>เลือก...</option>
                                    <option value="นิติบุคคล">นิติบุคคล</option>
                                    <option value="บุคคลธรรมดา">บุคคลธรรมดา</option>
                                </select>
                                <a style="margin-left:1vw;">สัญชาติ :</a>
                                <select id="nationality" style="width: 11vw">
                                    <option value="" hidden>เลือก...</option>
                                    <option value="ไทย">ไทย</option>
                                    <option value="อเมริกา">อเมริกา</option>
                                </select>
                                <a style="margin-left: 1vw;">เชื้อชาติ :</a>
                                <select id="race" style="width: 11vw;">
                                    <option value="" hidden>เลือก...</option>
                                    <option value="ไทย">ไทย</option>
                                    <option value="อเมริกา">อเมริกา</option>
                                </select>
                                <br>
                                <!-- row 2 -->
                                <a style="margin-left: 2vw;">คำนำหน้าชื่อ :</a>
                                <select id="title" name="" style="width: 11vw">
                                    <option value="" hidden>เลือก...</option>
                                    <option value="">นาย</option>
                                    <option value="">นาง</option>
                                    <option value="">นางสาว</option>
                                </select>
                                <a style="margin-left: 3vw;">ชื่อ :</a>
                                <input type="text" id="nameUser" name="" placeholder="" style="width: 11vw">
                                <a style="margin-left: 0.8vw;">นามสกุล :</a>
                                <input type="text" id="surnameUser" name="" placeholder="" style="width: 11vw">
                                <br>
                                <!-- row 3 -->
                                <a style="margin-left: 1.8vw;">เลขประจำตัว :</a>
                                <input type="text" id="id" name="" placeholder="" style="width: 11vw"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    maxlength="13"
                                    onkeyup="console.log(this.value)">
                                <a style="margin-left:0.9vw;">ออกเมื่อ :</a>
                                <input type="text" id="datepicker1" placeholder="" style="width: 11vw">
                                <a style="margin-left: 0.8vw;">หมดอายุ :</a>
                                <input type="text" id="datepicker2" placeholder="" style="width: 11vw">
                                <br>
                                
                                <br>
                                <!-- row4 -->
                                <a style="margin-left: 3.9vw;">เกิดวันที่ :</a>
                                <input type="text" id="datepicker3" placeholder="" style="width: 11vw;">

                                <a style="margin-left: 0.7vw;">โทรศัพท์ :</a>
                                <input type="text" style="width: 11vw" id="phone" 
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    maxlength="10">
                                <a style="margin-left: 1.1vw;">โทรสาร :</a>
                                <input type="text" id="fax" style="width: 11vw"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                maxlength="9">
                                <br>
                                <!-- row5 -->


                                <a style="margin-left: 2vw;">อยู่บ้านเลขที่ :</a>
                                <input type="text" id="homeId" style="width: 11vw">
                                <a style="margin-left: 2.3vw;">หมู่ที่ :</a>
                                <input type="int" id="moo" style="width: 11vw">
                                <a style="margin-left: 2.05vw;">ตรอก :</a>
                                <input type="text" id="trxk" style="width: 11vw">
                                <!-- row 6 -->
                                <br>
                                <a style="margin-left: 5.4vw;">ซอย :</a>
                                <input type="text" id="sxy" style="width: 11vw;">
                                <a style="margin-left: 1.6vw;">อาคาร :</a>
                                <input type="text" id="building" style="width: 11vw">
                                <a style="margin-left: 2.45vw;">ถนน :</a>
                                <input type="text" id="road" style="width: 11vw">
                                <!-- row 7 -->
                                <br>
                                <a style="margin-left: 4.3vw;">จังหวัด :</a>
                                <select id="province" style="width: 11vw">
                                </select>
                                <a style="margin-left: 1.8vw;">อำเภอ :</a>
                                <select id="district" style="width: 11vw">
                                </select>
                                <a style="margin-left: 1.9vw;">ตำบล :</a>
                                <select id="subdistrict" style="width: 11vw">
                                </select>
                                <br>
                                <a style="margin-left: 1.8vw;">อัพเดทล่าสุด :</a>
                                <input type="text" style="width: 11vw;" readonly disabled>
                            </div>
                            <div
                                style="width: 20vw; ;text-align: center; display: block; padding: 1vw;">
                                <a style="font-size: 1.5vw;"> รูปภาพภาพผู้ประกอบการ</a>
                                <div>
                                    <img id="operatorImage" class="rounded" src="../../img/userProfile.png"
                                        style="width: 18vw;height: 18vw;">
                                </div>
                                <div>
                                    <input style='display: none;' type="file" id="uploadFile"
                                        onchange="uploadImage(event)" accept="image/*">

                                    <button type="button" class="addimage" onclick="buttonImage()"
                                        style="width:5vw ">แทน</button>

                                    <button type="button" class="delete" id="cancelImage"
                                        style="width:5vw;margin-left: 0.5vw;" onclick="deleteImageOne()"> ลบ </button>

                                    <button type="button" id="webcam" style="width:5.5vw;margin-left: 0.5vw;"
                                        disabled>ถ่ายภาพ
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </fieldset>
    </form>


</body>

<script src="../../js/operator.js/operator.js"></script>
<script src="../../js/operator.js/menuOperator.js"></script>
<script src="../../js/disable.js"></script>
<script src="../../js/sweet2.js"></script>
<script src="../../js/js22.js"></script>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
</html>