<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../../css/fonts.css">

    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/bootstrap-4.4.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-4.4.1/bootstrap.min.css">

</head>
<style>
    a {
        text-decoration: none !important;
        margin-left: 1vw;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .page {
        width: 300mm;
        min-height: 297mm;
        padding-left: 15mm;
        padding-right: 15mm;
        padding-top: 5mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 1px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 1cm;
        border: 2px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {

        html,
        body {
            width: 210mm;
            height: 297mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }

        .hideWhenPrint {
            display: none;
        }
    }
</style>

<body>
    <div class="book" id="box_no_1">
        <div class="page">
            <div class="container" style="font-family: 'Sarabun';">
                
            <center>
                <img src='../../img/img1.jpg' width="90px" height="90px">
            </center>
                <p></p>
                <h4 class="text-center">คำขอต่อใบอนุญาต</h4>
                <br>
                <a id='request_title'>ใบอนุญาตกิจการที่เป็นอันตรายต่อสุขภาพ</a>
                <div class="row">
                    <div class="col">
                        <p class="text-right" style="margin-right: 4.5vw;">เขียนที่ สำนักงานเทศบาลเมืองแสนสุข</p>
                        <p id='request_date_now' class="text-right" style="margin-right: 5.5vw;">วันที่ 17 เดือน ธันวาคม
                            พ.ศ. 2562</p>
                    </div>
                </div>
                <!-- 1. -->
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <p>ข้าพเจ้า &nbsp;
                            <input type="checkbox" name="nametype" id="user_type_1">&nbsp;บุคคลธรรมดา
                            <input type="checkbox" name="nametype" id="user_type_2">&nbsp;นิติบุคคล</p>
                    </div>
                    <div class="col-1">
                        <p>ชื่อ </p>
                    </div>
                    <div class="col-4">
                        <a id='user_fullname'></a>
                    </div>
                    <div class="col">
                        <p>อายุ<a id='user_age'> </a> ปี</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <p>สัญชาติ</p>
                    </div>
                    <div class="col-2">
                        <a id='nationality'></a>
                    </div>
                    <div class="col">
                        <p>เลขบัตรประชาชนเลขที่</p>
                    </div>
                    <div class="col-2">
                        <a id='personal_id'></a>
                    </div>
                    <div class="col">
                        <p>อยู่บ้าน/สำนักงานเลขที่</p>
                    </div>
                    <div class="col">
                        <a id='homeId'></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>ตรอก</p>
                    </div>

                    <div class="col-3">
                        <a id='trxk'></a>
                    </div>
                    <p>ซอย</p>
                    <div class="col-3">
                        <a id='sxy'></a>
                    </div>
                    <p>ถนน</p>
                    <div class="col-3">
                        <a id='road'></a>
                    </div>
                    <p>หมู่ที่</p>
                    <div class="col-1">
                        <a id='moo'></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>แขวง/ตำบล</p>
                    </div>
                    <div class="col-2">
                        <a id='sub_district'>
                        </a>
                    </div>
                    <p>เขต/อำเภอ</p>
                    <div class="col-3" style="text-align: center;">
                        <a id='district'></a>
                    </div>
                    <p>จังหวัด</p>
                    <div class="col-3" style="text-align: center;">
                        <a id='province'></a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <p>โทรศัพท์<a id='phone'></a></p>
                    </div>
                    <div class="col-4" >
                        <p>โทรสาร<a id='fax'></a></p>
                    </div>
                    <p'>ขอยื่นคำขอต่อใบอนุญาตฯ ประเภท </p>
                </div>
                <div style="text-align: center;">
                    <p id='request_type'>dasd</p>
                </div>
                <p></p>
                <!-- 2. -->
                <p>ข้าพเจ้าได้แนบเอกสารและหลักฐาน ดังต่อไปนี้</p>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <p>1. สถานประกอบการชื่อ</p>
                    </div>
                    <div class="col-5">
                        <a id='e_name'></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        2. ตั้งอยู่เลขที่
                        <a id="e_homeId"> </a>
                        &emsp;ตรอก
                        <a id="e_trxk"> </a>
                        &emsp;ซอย
                        <a id="e_sxy"> </a>
                        &emsp;ถนน
                        <a id="e_road"> </a>
                        &emsp;หมู่ที่
                        <a id="e_moo"> </a>
                        &emsp;ตำบล
                        <a id="e_sub_district"> </a>
                        &emsp;อำเภอ
                        <a id="e_district"> </a>
                        &emsp;จังหวัด
                        <a id="e_province"> </a>
                        &emsp;โทรศัพท์
                        <a id="e_phone"> </a>
                        &emsp; พื้นที่ประกอบการ
                        <a id="e_size"> </a> ตรม.
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <p>3. พร้อมคำขอนี้ข้าพเจ้าได้แนบเอกสารต่างๆมาด้วย คือ </p>
                        <p>&emsp;3.1 สำเนาบัตรประจำตัว หากเป็นนิติบุลคลให้ใช้สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
                        </p>
                        <p>&emsp;3.2 สำเนาทะเบียนบ้านของผู้ขอรับใบอนุญาต และทะเบียนบ้านของสถานประกอบการ </p>
                        <p>&emsp;3.3 หลักฐานแสดงว่าอาคารนั้นสามารถใช้ประกอบการได้ถูกต้องตามกฎหมาย ว่าด้วยการควบคุมอาคาร
                        </p>
                        <p>&emsp;3.4 กรณีเจ้าของไม่สามารถมาด้วยตนเองได้
                            ให้ผู้รับมอบหมายอำนาจนำหนังสือมอบอำนาจที่ถูกต้องตามกฎหมาย พร้อมบัตรประจำตัว</p>
                        <p>&emsp;&emsp;&ensp; ประชาชนของผู้รับมอบมาแสดง </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>ข้าพเจ้าขอรับรองว่าข้อความในแบบคำขอนี้เป็นความจริงทุกประการ
                            และจะปฏิบัติตามเทศบัญญัติ/ข้อบัคับและเงี่อนไงที่ระบุไว้ทุกประการ</p>
                    </div>

                </div>
            </div>
            <!-- 3. -->
            <br>
            <!-- ลงชื่อ -->
            <div class="row">
                <div class="col-5"></div>
                <div class="col text-center">
                    (ลงชื่อ)............................................ผู้ขอรับใบอนุญาต
                    <br>
                    <p id='name_user_duplication'></p>
                    <br>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="col">
                    ความเห็นของเจ้าหน้าที่/หัวหน้างาน
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมเป็นเงิน...............บาท
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ.........................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)............................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
                <div class="col-5">
                    ความเห็นของหัวหน้าฝ่ายสุขาภิบาล
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ........................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)............................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="col">
                    ความเห็นของผู้อำนวยการกองสาธารณสุขฯ
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ.........................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)............................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
                <div class="col-5">
                    ความเห็นของปลัดเทศบาล
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ........................
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)............................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="" style="margin-left: 25%;">
                    ความเห็นของเจ้าพนักงานท้องถิ่น
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)............................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id='box_no_2' style="margin-top:15vw ;display: none;">
        <center>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>

            <a style="font-size: 2vw;"> กำลังโหลดข้อมูล</a>


        </center>
    </div>
</body>
<script src="../../node_modules/axios/dist/axios.min.js"></script>
<script src="../../js/renew_preview/renew_print.js"></script>
<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">

</html>