<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../../css/fonts.css">

    <script src="../../js/service/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../js/service/bootstrap-4.4.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-4.4.1/bootstrap.min.css">

</head>
<style>
    a {
        text-decoration: none !important;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .page {
        width: 300mm;
        min-height: 297mm;
        padding: 15mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 1px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 1cm;
        border: 2px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {

        html,
        body {
            width: 210mm;
            height: 297mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }

        .hideWhenPrint {
            display: none;
        }
    }
</style>

<body>
    <div class="book">
        <div class="page">
            <br>
            <div class="container" style="font-family: 'Sarabun';">
                <h4  class="text-center">คำขอต่อใบอนุญาต</h4>
                <br>
                <p id='request_title' >ใบอนุญาตกิจการที่เป็นอันตรายต่อสุขภาพ</p>
                <div class="row">
                    <div class="col">
                        <p class="text-right" style="margin-right: 4.5vw;">เขียนที่ สำนักงานเทศบาลเมืองแสนสุข</p>
                        <p id='request_date_now' class="text-right" style="margin-right: 5.5vw;">วันที่ 17 เดือน ธันวาคม พ.ศ. 2562</p>
                    </div>
                </div>
                <br>
                <!-- 1. -->
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <p>ข้าพเจ้า
                            <input type="checkbox" name="nametype" id="user_type_1"> บุคคลธรรมดา 
                            <input type="checkbox" name="nametype" id="user_type_2">  นิติบุคคล
                        </p>
                    </div>
                    <div class="col">
                        <p id ='user_fullname'>ชื่อ</p>
                    </div>
                    <div class="col"> 
                        <p id ='user_age'>อายุ</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id ='nationality'>สัญชาติ</p>
                    </div>
                    <div class="col"> 
                        <p id ='personal_id'>เลขบัตรประชาชนเลขที่</p>
                    </div>
                    <div class="col">
                        <p id ='homeId'>อยู่บ้าน/สำนักงานเลขที่ </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id ='trxk'>ตรอก</p>
                    </div>
                    <div class="col">ซอย
                        <p id ='sxy'></p>
                    </div>
                    <div class="col">ถนน
                        <p id ='road'></p>
                    </div>
                    <div class="col-2">
                        <p id ='moo'>หมู่ที่</p>
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id ='sub_district'>แขวง/ตำบล</p>
                    </div>
                    <div class="col">
                        <p id='district'>เขต/อำเภอ</p>
                    </div>
                    <div class="col" >
                        <p id='province'>จังหวัด</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id='phone'>โทรศัพท์</p>
                    </div>
                    <div class="col" id='fax'>
                        <p id='fax'>โทรสาร </p>
                    </div>
                    <div class="col" ></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id = 'request_type'>ขอยื่นคำขอต่อใบอนุญาตฯ ประเภท </p>
                    </div>
                </div>
                <br>
                <!-- 2. -->
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <p id='e_name'>1. สถานประกอบการชื่อ</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <a id="e_homeId">2. ตั้งอยู่เลขที่ </a>
                        <a id="e_trxk">&emsp;ตรอก </a>
                        <a id="e_sxy">&emsp;ซอย </a>
                        <a id="e_road">&emsp;ถนน </a>
                        <a id="e_moo">&emsp;หมู่ที่ </a>
                        <a id="e_sub_district">&emsp;ตำบล </a>
                        <a id="e_district">&emsp;อำเภอ </a>
                        <a id="e_province">&emsp;จังหวัด </a>
                        <a id="e_phone">&emsp;โทรศัพท์ </a>
                        <a id="e_size">&emsp;พื่นที่ประกอบการ </a>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <p>3. พร้อมคำขอนี้ข้าพเจ้าได้แนบเอกสารต่างๆมาด้วย คือ </p>
                        <p>&emsp;3.1 สำเนาบัตรประจำตัว หากเป็นนิติบุลคลให้ใช้สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล</p>
                        <p>&emsp;3.2 สำเนาทะเบียนบ้านของผู้ขอรับใบอนุญาต และทะเบียนบ้านของสถานประกอบการ </p>
                        <p>&emsp;3.3 หลักฐานแสดงว่าอาคารนั้นสามารถใช้ประกอบการได้ถูกต้องตามกฎหมาย ว่าด้วยการควบคุมอาคาร</p>
                        <p>&emsp;3.4 กรณีเจ้าของไม่สามารถมาด้วยตนเองได้ ให้ผู้รับมอบหมายอำนาจนำหนังสือมอบอำนาจที่ถูกต้องตามกฎหมาย พร้อมบัตรประจำตัว</p>
                        <p>&emsp;&emsp;&ensp; ประชาชนของผู้รับมอบมาแสดง </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>ข้าพเจ้าขอรับรองว่าข้อความในแบบคำขอนี้เป็นความจริงทุกประการ
                            และจะปฏิบัติตามเทศบัญญัติ/ข้อบัคับและเงี่อนไงที่ระบุไว้ทุกประการ</p>
                    </div>

                </div>
            </div>
            <br>
            <!-- 3. -->
            <br>
            <!-- ลงชื่อ -->
            <div class="row">
                <div class="col-5"></div>
                <div class="col text-center">
                    (ลงชื่อ).............................................................ผู้ขอรับใบอนุญาต
                    <br>
                    <p id='name_user_duplication'></p>
                    <br>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="col">
                    ความเห็นของเจ้าหน้าที่/หัวหน้างาน
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมเป็นเงิน...............บาท
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ.............................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)...................................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
                <div class="col-5">
                    ความเห็นของหัวหน้าฝ่ายสุขาภิบาล
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)...................................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="col">
                    ความเห็นของผู้อำนวยการกองสาธารณสุขฯ
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ.............................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)...................................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
                <div class="col-5">
                    ความเห็นของปลัดเทศบาล
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)...................................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
            <br>
            <!--  -->
            <div class="row">
                <div class="" style="margin-left: 25%;">
                    ความเห็นของเจ้าพนักงานท้องถิ่น
                    <br>[ &nbsp; ] เห็นควรอนุญาต โดยให้ชำระเงินค่าธรรมเนียมฯ
                    <br>[ &nbsp; ] ไม่เห็นสมควรอนุญาต เพราะ................................
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ลงชื่อ)...................................................
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...................................................)
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
    <script src="../../node_modules/axios/dist/axios.min.js"></script>
    <script src="../../js/renew_preview/renew_print.js"></script>
</html>